.page-404-cntent-cntlr{
	padding: 90px 0;
}
.page-404-cntent-cntlr .page-bedankt-cntent-cntlr-innr{
	max-width: 920px;
}
.page-404-cntent-cntlr .page-bedankt-cntent-menu-cntlr ul{
	margin: 0 -40px;
}
.page-404-cntent-cntlr .page-bedankt-cntent-menu-cntlr ul li{
	padding: 0 40px;
}
.page-404-cntent-cntlr .page-bedankt-cntent-heading h4{
	margin-bottom: 40px;
}
.page-404-cntent-cntlr .page-bedankt-cntent-desc{
	padding-bottom: 25px;
}