.page-bedankt-cntent-cntlr-innr{
	max-width: 820px;
	margin: 0 auto;
	text-align: center;
}
.page-bedankt-cntent-img{
	padding-bottom: 20px;
}
.page-bedankt-cntent-desc{
	padding-bottom: 45px;
}
.page-bedankt-cntent-desc p:last-child{
	margin-bottom: 0;
}
.page-bedankt-cntent-title{
	font-size: 72px;
}
.page-bedankt-cntent-img i{
	display: inline-block;
	vertical-align: baseline;
}
.page-bedankt-cntent-menu-cntlr ul{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -100px;
}
.page-bedankt-cntent-menu-cntlr ul li{
	padding: 0 100px;
}
.page-bedankt-cntent-menu-cntlr ul li a{
	color: #4F7F35;
}