.block-850{
	max-width: 850px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.block-1285{
	max-width: 1285px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.dfp-plate-one-img-bx{
	margin-bottom: 90px;
	padding-top: 60px;
}
.dfp-plate-one-img-bx img{
	width: 100%;
}
.innerpage-con-wrap{
	position: relative;
}
.default-page-con {
	padding-bottom: 110px;
	padding-top: 110px;
}

.fl-dft-overflow-controller {
	overflow: hidden;
}
.default-page-con h1,
.dfp-promo-module-title,
.default-page-con h2,
.default-page-con h3,
.default-page-con h4,
.default-page-con h5{
	margin-bottom: 20px;
	line-height: 1.1;
}


.dfp-text-module{
	
}

.default-page-con p,
.dfp-text-module p{
    margin-bottom: 30px;
}


/*
Gallery design
*/

.dfp-top-gallery{
	padding: 90px 0 100px;
	background: #FAFAFA;
	margin-bottom: 90px;
}

.gallery-wrap h1,
.gallery-wrap h2,
.gallery-wrap h3,
.gallery-wrap h4,
.gallery-wrap h5,
.gallery-wrap h6{
	margin-bottom: 20px;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
}


.gallery-item {
	margin: 0;
	padding: 0 12px;
	margin-bottom: 24px;
}

.has-inline-bg .gallery-icon-img{
	height: 225px;
	display: block;
}

.has-inline-bg .gallery-item img{
	display: none;
}
.gallery-item img {
	width: 100%;
}
.top-gallery-module .gallery-item img{
	border-radius: 0;
}

.gallery-columns-1 .gallery-item {
    width: 100%;
    float: none;
}
.gallery-columns-2 .gallery-item {
    width: 50%
}
.gallery-columns-3 .gallery-item {
    width: 33.3333%
}
.gallery-columns-4 .gallery-item {
    width: 25%
}
.gallery-columns-5 .gallery-item {
    width: 20%
}
.gallery-columns-6 .gallery-item {
    width: 16.6667%
}
.gallery-columns-7 .gallery-item {
    width: 14.2857%
}
.gallery-columns-8 .gallery-item {
    width: 12.5%
}
.gallery-columns-9 .gallery-item {
    width: 11.1111%
}



.gallery-icon-img{
	height: 225px;
	display: none;
}

.glry-col-3 .gallery-icon-img{
	height: 285px;
}

.glry-col-2 .gallery-icon-img{
	height: 263px;
}


.fl-fancy-module{
	overflow: hidden;
	max-width: 100%;
    width: 100%;
    height: 704px;
    position: relative;
    margin-bottom: 70px;
    margin-top: 30px;
}
.fl-fancy-img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	
}
.fl-fancy-module:hover .fl-fancy-img{
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.fl-video-play-cntlr{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    color: #fff;
    width: 85px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fl-video-play-cntlr i svg{
	width: 70px;
	height: 70px;
}



.fl-dft-lftimg-rgtdes {
	margin: 0 0;
	padding-bottom: 60px;
	display: flex;
	align-items: center;
}
.fl-dft-lftimg-rgtdes-lft{
	height: 503px;
}
.fl-dft-lftimg-rgtdes-lft div{
	height: 100%;
	width: 100%;
}

.fl-dft-lftimg-rgtdes-lft-img-scale{
	position: relative;
	overflow: hidden;
}
.fl-dft-lftimg-rgtdes-lft-img-inr{
	width: 100%;
	height: 100%;
}
.fl-dft-lftimg-rgtdes-lft,
.fl-dft-lftimg-rgtdes-rgt {
	width: 50%;
	position: relative;
}
.fl-dft-lftimg-rgtdes-rgt {
	padding-left: 25px;
	padding-bottom: 5px;
	padding-top: 0;
}
.fl-dft-lftimg-rgtdes-rgt p:last-child{
	margin-bottom: 0;
}


.fl-dft-lftimg-rgtdes-lft img,
.fl-dft-testi-controller img{
	display: none;
}



/*-- left des right img customize---*/
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes{
	padding-top: 45px;
}
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-lft{
	float: right;
	order: 2;
}
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt{
	float: left;
	padding-left: 0;
	padding-right: 20px;
}


.dfp-btm-lftimg-rgtdes{
	padding: 110px 0;
	background: #FAFAFA;
	margin-bottom: 90px;
	margin-top: 30px;
}

.dfp-btm-lftimg-rgtdes .fl-dft-lftimg-rgtdes{
	padding-bottom: 0;
}



/*table*/

.dfp-tbl-wrap{
	padding-top: 70px;
}



.table-dsc{
	padding: 0;
	background-color: transparent;
	border-top: none;
	border-top: 1px solid #edeef0;
}

.table-dsc {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.table-dsc table{
	max-width: 850px;
	width: 100%;
}
.table-dsc::-webkit-scrollbar {
  height: 6px;
}
.table-dsc::-webkit-scrollbar-thumb {
  background: #F8F8F8;
  border-radius: 4px;
}


.table-dsc table tbody tr td:first-child,
.table-dsc table tbody tr td:last-child{
	color: #777F84;
}

.table-dsc table{
	width: 100%;
	padding: 20px;
	border: none;
}

.table-dsc table tbody{

}

.table-dsc table tr th:last-child span{
	border-right: none;
}

.table-dsc table tbody tr:first-child td span{
	display: block;
}
.table-dsc table tbody tr:first-child td:last-child span{
	border-right: none;
}
.table-dsc table tbody tr td:first-child span{
	font-weight: 700;
	border-bottom: none;
}
.table-dsc table thead tr th:first-child,
.table-dsc table tbody tr td:first-child{
	padding-left: 15px;
	padding-right: 15px;
	width: 85px;
	text-align: left;
}

.table-dsc table tr th {
	border: none;
	color: #777F84;
	font-weight: 700;
	padding: 15px 0 14px;
	font-size: 16px;
	line-height: 18px;
}
.table-dsc table tr th span{
	display: block;
}
.table-dsc table thead th span{
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	color: #777F84;
}
.table-dsc table thead tr th,
.table-dsc table tbody tr td{
	padding-left: 15px;
	padding-right: 15px;
}


.table-dsc table thead tr th:first-child,
.table-dsc table thead tr td:first-child{
	padding-left: 15px;
	padding-right: 15px;
	font-weight: 700;
}


.table-dsc table tbody{
	border-top: 0;
	margin: 0 3px;
}
.table-dsc table tbody tr td span{
	padding-top: 12px;
	padding-bottom: 12px;
}
.table-dsc table span{
	display: block;
}
.table-dsc table tbody tr td{
	border-top: 1px solid #edeef0;
}
.table-dsc table tbody tr:last-child span{
	border-bottom: none;
}

.table-dsc table tbody tr{
	border-left: 0;
	border-right: 0;
}


.cta-module-ctlr{
	background: #E83747;
	padding: 90px 95px 70px 100px;
}

.cta-module-inr{
	display: flex;
	align-items: center;
}
.cta-module-lft{
	width: 70%;
	padding-right: 20px;
}
.cta-module-rgt{
	width: 30%;
}

.cta-module-sub-title{
	display: inline-block;
	vertical-align: baseline;
	line-height: 1;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: -0.02em;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700;
	margin-bottom: 22px!important;
	padding-left: 42px;
	position: relative;
}
.cta-module-sub-title i{
	position: absolute;
	top: 0;
	left: 0;
}

.cta-module-title{
	color: #fff;
}
.cta-module-lft p{
	color: #fff;
}
.cta-module-lft p:last-child{
	margin-bottom: 0;
}


.cta-module-btn a{
	display: inline-block;
	vertical-align: baseline;
	min-width: 260px;
	width: 100%;
	position: relative;
	color: #fff;
	font-size: 16px;
	line-height: 1;
	text-align: center;
	padding: 22px 20px;
	letter-spacing: 0.04em;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700;
	border: 2px solid #F4A301;
	border-radius: 8px;
	background: #F4A301;
	text-transform: uppercase;
	text-decoration: none;
}
.cta-module-btn a:hover{
	background: transparent;
	border-color: #fff;
}





.dfp-blockqoute blockquote{
	padding: 75px 70px 70px 120px;
	background: #4F7F35;
	position: relative;
	margin-bottom: 0;
}

.dfp-blockqoute blockquote i{
	position: absolute;
	top: 55px;
    left: 40px;
}
.dfp-blockqoute blockquote p{
	font-size: 28px;
	line-height: 1.1;
	color: #fff;
	margin-bottom: 25px;
}
.dfp-blockqoute blockquote strong{
	font-size: 22px;
	letter-spacing: -0.02em;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Libre Franklin', sans-serif;
}



.dfp-btn-module{
	padding-top: 120px;
}
.dfp-btn-module-inr {
    max-width: 915px;
    width: 100%;
    margin: 0 auto;
}
.dfp-btn-module-inr ul{
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
	padding: 0;
}
.dfp-btn-module-inr ul li{
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 25px;
}




.dfp-full-img-module{
	padding-bottom: 100px;
}



/*nieuws details*/

.dfp-date-module span{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 40px;
	font-size: 16px;
	color: #F4A301;
	font-weight: 600;
	letter-spacing: -0.02em;
	line-height: 1;
	font-family: 'Libre Franklin', sans-serif;
	padding-bottom: 25px;
	position: relative;
}
.dfp-date-module span i{
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -8px;
}

.dfp-promo-module-title{
	display: block;
	color: #4F4B34;
	letter-spacing: -0.02em;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700;
	margin-bottom: 30px;
}


.dfp-social-media-module{
	display: flex;
	align-items: center;
	padding-top: 35px;
	padding-bottom: 30px;
	border-top: 2px solid #F8F8F8;
}
.dfp-social-media-module span{
	display: inline-block;
	vertical-align: baseline;
}
.dfp-social-media{
	margin-left: auto;
}
.dfp-social-media ul{
	display: flex;
	align-items: center;
}
.dfp-social-media ul li{
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 0;
}
.dfp-social-media ul li a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	background: #4F7F35;
	border-radius: 100%;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}
.dfp-social-media ul li a:hover{
	background: #F4A301;
}
#nieuws-details .dfp-plate-one-img-bx{
	padding-top: 0;
}
.dfp-grid-module-cntlr .pdct-pgni-trv-service-grids-item{
	width: 50%!important;
}
.dfp-grid-module-cntlr .trv-service-grid-des{
	padding-left: 50px!important;
	padding-right: 50px!important;
}
.dfp-grid-module-cntlr .trv-service-grid-item-cntlr:before{
	content: none;
	display: none;
}
.dfp-grid-module-cntlr .trv-service-grid-item-cntlr{
	padding-top: 0!important;
}
.dfp-grid-module-cntlr .pdct-pgni-trv-service-grids{
	padding-top: 10px!important;
	padding-bottom: 10px!important;
}
.dfp-professional-module-cntlr .strong-professional-sec-cntlr{
	height: initial;
	border-bottom: none;
}
.dfp-professional-module-cntlr .professional-team-logo ul{
	padding: 0!important;
}
.dfp-professional-module-cntlr{
	padding-bottom: 80px;
	padding-top: 40px;
}
hr{
	margin-top: 0;
    padding-top: 60px;
    margin-bottom: 40px;
    border-top: none;
    border-bottom: 1px solid #FAFAFA;
}
.dfp-certificates-module-cntlr{
	padding-top: 60px;
	padding-bottom: 25px;
	margin-bottom: 70px;
	border-bottom: 1px solid #FAFAFA;
}
.dfp-certificates-module-cntlr .certificates-guarantee-grd ul{
	padding-left: 0!important;
	padding-bottom: 0!important;
}
.dfp-certificates-module-cntlr .certificates-guarantee-grd ul li{
	padding: 0!important;
}
.dfp-tv-grids-module-cntlr .tv-grids-modl-sec-cntlr ul{
	padding: 0!important;
}
.dfp-tv-grids-module-cntlr {
    padding-top: 60px;
    border-top: 2px solid #F8F8F8;
    margin-top: 17px;
    margin-bottom: 47px;
}
.dfp-tv-grids-module-cntlr .tv-vo-grids-modl-sec-cntlr ul li{
	padding-bottom: 60px;
}
.dfp-tv-grids-module-cntlr .tv-grids-modl-sec-cntlr{
	padding-bottom: 0;
}
.dfp-tv-grids-module-cntlr .vo-gmi-cntnt-tt{
	margin-bottom: 5px!important;
}
.dfp-tv-grids-module2-cntlr .tv-grids-modl-sec-cntlr ul{
	margin: 0!important;
	padding: 0!important;
	list-style: none!important;
}
.dfp-tv-grids-module2-cntlr .tv-grids-modl-sec-cntlr ul li{
	width: 100%!important;
	padding: 0!important;
	padding-bottom: 50px!important;
}
.dfp-tv-grids-module2-cntlr .tv-grids-modl-sec-cntlr ul li .tv-grid-modl-item{
	justify-content: flex-start;
}
.dfp-tv-grids-module2-cntlr .gmi-cntnt-tt {
    font-size: 23px!important;
}
.dfp-tv-grids-module2-cntlr .tv-grids-modl-sec-cntlr:before{
	display: none;
	content: none;
}
.dfp-tv-grids-module2-cntlr .tv-grids-modl-sec-cntlr{
	padding-top: 15px!important;
	padding-bottom: 50px!important;
}
/*responsive*/

@media(max-width: 1699px){
	.default-page-con{
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.dfp-top-gallery{
		padding: 80px 0;
		margin-bottom: 80px;
	}
	.cta-module-ctlr {
	    padding: 70px 70px 60px 80px;
	}
	.dfp-full-img-module{
		padding-bottom: 80px;
	}
	.dfp-btm-lftimg-rgtdes{
		padding: 90px 0;
		margin-bottom: 80px;
		margin-top: 20px;
	}
	.fl-fancy-module{
		height: 600px;
		margin-bottom: 60px;
	}
	.fl-video-play-cntlr{
		width: 80px;
		height: 80px;
	}
	hr{
	    padding-top: 40px;
	    margin-bottom: 30px;
	}
	.dfp-professional-module-cntlr{
		padding-bottom: 60px;
		padding-top: 30px;
	}
	.dfp-certificates-module-cntlr{
		padding-top: 44px;
		padding-bottom: 25px;
		margin-bottom: 55px;
	}
	.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes{
		padding-top: 35px;
	}
	.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes{
		padding-top: 20px;
	}
	.dfp-tv-grids-module-cntlr {
	    padding-top: 45px;
	    margin-bottom: 40px;
	}
	.dfp-tv-grids-module2-cntlr .tv-grids-modl-sec-cntlr ul li{
		padding-bottom: 45px!important;
	}
	.dfp-tv-grids-module2-cntlr .tv-grids-modl-sec-cntlr{
		padding-top: 10px!important;
		padding-bottom: 35px!important;
	}
	.dfp-btn-module{
		padding-top: 100px;
	}


}


@media(max-width: 1199px){
	.default-page-con{
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.dfp-plate-one-img-bx {
    	margin-bottom: 70px;
    	padding-top: 50px;
	}
	.dfp-top-gallery{
		padding: 70px 0;
		margin-bottom: 70px;
	}
	.cta-module-ctlr {
	    padding: 60px 60px 50px 70px;
	}
	.dfp-full-img-module{
		padding-bottom: 60px;
	}
	.fl-dft-lftimg-rgtdes{
		padding-bottom: 50px;
	}
	.dfp-btm-lftimg-rgtdes{
		padding: 80px 0;
		margin-bottom: 70px;
	}
	.fl-fancy-module{
		height: 500px;
		margin-bottom: 50px;
	}
	.fl-video-play-cntlr{
		width: 75px;
		height: 75px;
	}
	.dfp-blockqoute blockquote{
		padding: 70px 50px 60px 120px;
	}
	.dfp-blockqoute blockquote p{
		font-size: 27px;
	}
	.dfp-blockqoute blockquote strong{
		font-size: 20px;
	}
	.dfp-tv-grids-module-cntlr .tv-grids-modl-sec-cntlr ul{
		margin: 0 -15px;
	}
	.dfp-tv-grids-module-cntlr .tv-grids-modl-sec-cntlr ul li{
		padding: 0 15px;
		padding-bottom: 50px;
	}
	hr{
	    padding-top: 30px;
	    margin-bottom: 20px;
	}
	.dfp-professional-module-cntlr{
		padding-bottom: 40px;
		padding-top: 15px;
	}
	.dfp-certificates-module-cntlr{
		padding-top: 35px;
		padding-bottom: 15px;
		margin-bottom: 45px;
	}
	.dfp-btn-module{
		padding-top: 80px;
	}

}


@media(max-width: 991px){
	
	.dfp-plate-one-img-bx {
	    margin-bottom: 60px;
    	padding-top: 40px;
	}
	.default-page-con{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.gallery-icon-img {
	    height: 200px;
	}
	.glry-col-3 .gallery-icon-img {
	    height: 240px;
	}
	.dfp-tbl-wrap {
	    margin-bottom: 50px;
	}
	.default-page-con {
	    padding-bottom: 50px;
	}
	.gallery-wrap {
	    padding-bottom: 15px;
	}
	.has-inline-bg .gallery-icon-img {
	    height: 200px;
	}
	
	
	.dfp-blockqoute blockquote {
	    padding: 70px 40px 60px 120px;
	}
	
	.dfp-blockqoute blockquote p{
		font-size: 26px;
	}
	.dfp-blockqoute blockquote strong{
		font-size: 18px;
	}
	.dfp-full-img-module {
	    padding-bottom: 70px;
	}
	.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt {
	    padding-right: 30px;
	}
	.fl-dft-lftimg-rgtdes-rgt {
	    padding-left: 30px;
	}
	
	.block-850{
		max-width: 100%;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.gallery {
	    margin-left: -10px;
	    margin-right: -10px;
	}
	.gallery-item{
		padding: 0 10px;
	}
	.dfp-top-gallery{
		padding: 60px 0;
		margin-bottom: 60px;
	}
	.cta-module-ctlr {
	    padding: 50px 40px 40px 40px;
	}
	.cta-module-inr{
		display: block;
	}
	.cta-module-lft{
		width: 100%;
		padding-right: 0;
		margin-bottom: 30px;
		text-align: center;
	}
	.cta-module-rgt{
		width: 100%;
	}
	.cta-module-btn{
		max-width: 270px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.dfp-full-img-module{
		padding-bottom: 50px;
	}
	.fl-dft-lftimg-rgtdes{
		padding-bottom: 30px;
	}
	.dfp-btm-lftimg-rgtdes{
		padding: 70px 0;
		margin-bottom: 50px;
	}
	.fl-fancy-module{
		height: 400px;
		margin-bottom: 40px;
	}
	.fl-video-play-cntlr{
		width: 70px;
		height: 70px;
	}
	.dfp-btn-module{
		padding-top: 60px;
	}
	.dfp-professional-module-cntlr{
		padding-bottom: 0;
		padding-top: 0;
	}
	.dfp-tv-grids-module-cntlr {
	    padding-top: 30px;
	}
	.dfp-tv-grids-module-cntlr .tv-grids-modl-sec-cntlr ul li{
		padding-bottom: 40px;
	}

}



@media(max-width: 767px){
	.dfp-promo-module {
	    padding-bottom: 0;
	}
	
	.dfp-plate-one-img-bx {
	    margin-bottom: 50px;
    	padding-top: 30px;
    	margin-left: -20px;
    	margin-right: -20px;
	}
	.default-page-con{
		padding-top: 30px;
		padding-bottom: 35px;
	}
	.dfp-tbl-wrap{
		margin-bottom: 0;
		padding-bottom: 0;
		border-top: none;
	}
	
	
	.table-dsc table {
	    width: 700px;
	}
	.default-page-con h2 {
	    margin-bottom: 20px;
	}
	
	.gallery-wrap{
		padding-bottom: 0;
	}
	.fl-fancy-module{
		height: 350px;
		margin-bottom: 40px;
	}
	
	.gallery-wrap{
		padding-top: 10px;
	}
	.gallery-icon-img {
	    height: 184px;
	}
	.gallery {
	    margin-left: -8px;
	    margin-right: -8px;
	}
	.gallery-item {
	    padding: 0 8px;
	    margin-bottom: 16px;
	}
	.glry-col-3 .gallery-icon-img {
	    height: 170px;
	}
	.glry-col-2 .gallery-icon-img {
	    height: 180px;
	}

	.has-inline-bg .gallery-icon-img {
	    height: 184px;
	}

	
	.dfp-lft-hr-border {
	    padding-top: 35px;
	}
	.dfp-rgt-hr-border {
	    padding-top: 35px;
	}
	.gallery {
		display: block;
	    margin-left: 0;
	    margin-right: 0;
	}
	.gallery-columns-2 .gallery-item {
	    width: 100%;
	    padding-left: 0;
	    padding-right: 0;
	}
	.gallery-columns-3 .gallery-item {
	    width: 100%;
	    padding-left: 8px;
	    padding-right: 8px;
	}

	.fl-video-play-cntlr i svg{
		width: 66px;
		height:66px;
	}
	.fl-dft-lftimg-rgtdes{
		display: block;
		padding-bottom: 10px;
	}
	.fl-dft-lftimg-rgtdes-lft, 
	.fl-dft-lftimg-rgtdes-rgt {
	    width: 100%;
	    margin-bottom: 45px;
	}
	.fl-dft-lftimg-rgtdes-rgt {
	    padding-left: 0;
	    padding-bottom: 0;
	    padding-top: 0;
	    width: 100%;
	}
	.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt {
	    padding-right: 0;
	}
	.dfp-blockqoute blockquote {
	    padding: 140px 30px 60px 30px;
	}
	.dfp-blockqoute blockquote i {
	    top: 50px;
	    left: 30px;
	}

	.dfp-blockqoute blockquote p {
	    font-size: 24px;
	}
	.dfp-blockqoute blockquote strong{
		font-size: 16px;
	}

	.dfp-btn-module {
	    padding-top: 40px;
	}

	.gallery-icon{
		max-width: 400px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.dfp-top-gallery{
		padding: 60px 0 20px;
		margin-bottom: 50px;
	}
	.cta-module-ctlr {
	    padding: 40px 30px;
	}
	.dfp-full-img-module{
		padding-bottom: 40px;
	}
	.fl-dft-lftimg-rgtdes{
		padding-bottom: 30px;
	}
	.dfp-btm-lftimg-rgtdes{
		padding: 60px 0;
		margin-bottom: 40px;
	}
	.dfp-btm-lftimg-rgtdes .fl-dft-lftimg-rgtdes-rgt{
		margin-bottom: 0;
	}
	.fl-fancy-module{
		height: 300px;
	}
	.fl-video-play-cntlr{
		width: 60px;
		height: 60px;
	}
	.glslider2 .gallery{
		margin-left: -8px;
		margin-right: -8px;
	}
	.dfp-grid-module-cntlr .trv-service-grid-des{
		padding-left: 30px!important;
		padding-right: 30px!important;
	}
	.dfp-grid-module-cntlr .trv-service-grid-des{
		padding-top: 30px!important;
	}
	.dfp-grid-module-cntlr .trv-service-grid-title{
		margin-bottom: 18px!important;
	}
	.dfp-grid-module-cntlr .trv-service-grid-des p{
		margin-bottom: 20px!important;
	}
	hr{
	    padding-top: 15px;
	    margin-bottom: 10px;
	}
	.dfp-professional-module-cntlr .strong-professional-sec-cntlr{
		padding-top: 34px;
	}
	.dfp-professional-module-cntlr .strong-professional-sec-cntlr .professional-team-logo ul li{
		width: 33.333%;
	}
	.dfp-professional-module-cntlr .strong-professional-sec-cntlr .professional-title .professional-heading{
		margin-bottom: 20px;
	}
	.dfp-certificates-module-cntlr{
		padding-top: 48px;
		padding-bottom: 26px;
		border-top: 1px solid #E8E8E8;
	}
	.glslider2 .slick-dotted.slick-slider{
		margin-bottom: 50px!important;
	}
	.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes{
		padding-top: 10px;
	}
	.fl-dft-lftimg-rgtdes-lft {
	    height: 410px;
	}
	.dfp-tv-grids-module-cntlr{
		margin-top: 10px;
		padding-top: 37px;
		margin-bottom: 37px;
	}
	.dfp-tv-grids-module-cntlr .tv-grids-modl-sec-cntlr ul{
		margin-left: 0;
		margin-right: 0;
	}
	.dfp-tv-grids-module-cntlr .tv-grids-modl-sec-cntlr ul li{
		padding-bottom: 37px;
		padding-left: 0;
		padding-right: 0;
	}
	.dfp-tv-grids-module-cntlr .tv-grid-modl-item{
		justify-content: flex-start;
	}
	.dfp-tv-grids-module2-cntlr .tv-grids-modl-sec-cntlr{
		padding-top: 25px!important;
		padding-bottom: 15px!important;
	}
	.dfp-tv-grids-module2-cntlr .tv-grids-modl-sec-cntlr ul li{
		padding-bottom: 40px!important;
	}
	.dfp-tbl-wrap{
		padding-top: 55px;
	}
	.dfp-btn-module-inr ul li{
		padding-bottom: 16px;
	}


}

@media(max-width: 639px){
	
}


@media(max-width: 575px){
	.gallery {
	    padding-bottom: 10px;
	}
	.gallery-item {
	    margin-bottom: 18px;
	}
	
	.default-page-con h1, 
	.default-page-con h2, 
	.default-page-con h3, 
	.default-page-con h4, 
	.default-page-con h5 {
	    margin-bottom: 20px;
	}
	.gallery-icon-img {
	    height: 200px;
	}
	.glry-col-3 .gallery-icon-img {
	    height: 120px;
	}
	.glry-col-2 .gallery-icon-img {
	    height: 130px;
	}
	
	.has-inline-bg .gallery-icon-img {
	    height: 231px;
	    display: block;
	}
	.fl-fancy-module{
		height: 200px;
	}
	.fl-video-play-cntlr i svg{
		width: 56px;
		height: 56px;
	}
	.dfp-full-img-module{
		padding-bottom: 50px;
	}
	.dfp-blockqoute blockquote {
	    padding: 125px 40px 55px 25px;
	}
	.dfp-blockqoute blockquote p {
	    font-size: 24px;
	}
	.dfp-blockqoute blockquote i {
	    top: 30px;
	    left: 25px;
	}
	.cta-module-ctlr {
	    padding: 40px 20px;
	    margin-top: 22px;
	}
	.dfp-full-img-module{
		padding-bottom: 30px;
	}
	.fl-fancy-module{
		height: 200px;
		margin-top: 10px;
	}
	.fl-video-play-cntlr{
		width: 50px;
		height: 50px;
	}
	.dfp-grid-module-cntlr .trv-service-grid-des{
		padding-left: 20px!important;
		padding-right: 20px!important;
	}


}


@media(max-width: 479px){
	.gallery-icon-img {
	    height: 149px;
	}
	.glry-col-3 .gallery-icon-img {
	    height: 95px;
	}
	.glry-col-2 .gallery-icon-img {
	    height: 100px;
	}
	.fl-fancy-module{
		height: 185px;
	}
	.fl-video-play-cntlr{
		width: 48px;
		height: 48px;
	}
	.has-inline-bg .gallery-icon-img {
	    height: 183px;
	}
	.glslider2.has-inline-bg .gallery-icon-img {
	    height: 87px;
	}
	.cta-module-btn a{
		min-width: inherit;
		max-width: 270px;
		padding: 15px;
	}
	.dfp-grid-module-cntlr .trv-service-grid-des{
		padding-left: 10px!important;
		padding-right: 10px!important;
	}
	.dfp-btn-module-inr ul {
		margin: 0;
	}
	.dfp-btn-module-inr ul li{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.dfp-btn-module-inr ul li a{
		min-width: inherit;
		max-width: 100%;
		width: 100%;
	}
	.dfp-btn-module-inr ul li:nth-child(4){
		padding-bottom: 48px;
	}

}


