.trv-Service-intro-cntlr{
	max-width: 820px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 45px;
}
.trv-Service-intro-sec{
	padding-top: 120px;
	padding-bottom: 220px;
	background: linear-gradient(360deg, #FAFAFA 0.94%, #FFFFFF 98.23%);
}
.trv-Service-grids-cntlr ul{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -14px;
}
.trv-Service-grids-cntlr ul li{
	width: 20%;
	padding: 0 14px;
}
.trv-Service-grid-sec {
    margin-top: -220px;
}
.trv-Service-grid-item {
    padding: 27px 15px 44px 15px;
    background: #FFFFFF;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.03);
}
.trv-Service-grid-img-cntlr{
	position: relative;
	overflow: hidden;
}
.trv-Service-grid-des{
	text-align: center;
	padding-top: 45px;
}
.trv-Service-grid-title{
	font-weight: 600;
	color: #4F4B34;
}
.trv-Service-grid-title a{
	text-decoration: none;
	color: #4F4B34;
}
.trv-Service-grid-title a:hover{
	color: #F4A301;
}
.trv-Service-grid-des p{
	font-size: 16px;
	margin-bottom: 35px;
}