.footer-wrp{
	border-top: 10px solid #E83747;
}
.footer-inr{
	display: flex;
	flex-wrap: wrap;
	padding-top: 100px;
}
.ftr-lft{
	max-width: 34.188%;
	width: 100%;
	padding-right: 20px;
}
.ftr-logo{
	margin-bottom: 68px;
}
.ftr-logo a{
	display: inline-block;
	max-width: 280px;
}
.ftr-rgt{
	max-width: 65.812%;
	width: 100%;
}
.ftr-details{

}
.ftr-details-col{
	margin-bottom: 14px;
}
.ftr-addr.ftr-details-col{
	margin-bottom: 21px;
}
.ftr-details-col span{
	font-size: 17px;
	line-height: 1.4;
	color: #4F4B34;
}
.ftr-details-col span a{
	display: inline-block;
	color: #4F7F35;
}.ftr-details-col span a:hover{
	color: #F4A301;
}

.ftr-Slogan{
	margin-bottom: 70px;
	border-bottom: 1px solid #E8E8E8;
}
.ftr-Slogan-title{
	letter-spacing: -0.02em;
	color: #F4A301;
	margin-bottom: 40px;
	font-weight: 500;
}
.ftr-rgt-mdl{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 38px;
	border-bottom: 1px solid #E8E8E8;
}
.ftr-menu{
	max-width: 66.117%;
	width: 100%;
}
.ftr-menu ul{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 -35px;
}
.ftr-menu ul li{
	line-height: 1;
	padding: 0 35px;
	width: 33.33%;
	margin-bottom: 27px;
	position: relative;
}
.ftr-menu ul li.current-menu-item a{
	color: #4F7F35;
}
.ftr-menu ul li a:after{
	position: absolute;
	content: "";
	left: 0;
	top: 2px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	background: #F4A301;
	border-radius: 2px;
	height: 11.23px;
	width: 11.23px;
	transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
	opacity: 0;
}
.ftr-menu ul li.current-menu-item a:after,
.ftr-menu ul li a:hover:after{
	opacity: 1;
	content: "";
}
.ftr-menu ul li a{
	position: relative;
	padding-left: 30px;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700;
	font-size: 13px;
	line-height: 1;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #4F4B34;
	display: inline-block;
	text-decoration: none;
}
.ftr-menu ul li a:hover{
	color: #4F7F35;
}
.ftr-btn{
	margin-left: auto;
	margin-top: -18px;
}
.ftr-btn a{
	display: inline-block;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #4F7F35;
    border-radius: 8px;
    text-decoration: none;
    padding: 17.5px 23px 17.5px 53px;
    position: relative;
}
.ftr-btn a:hover{
	background: #F4A301;
}
.ftr-btn a i {
    display: inline-block;
    position: absolute;
    left: 21px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.ftr-btmbar{
	padding: 32px 0 35px;
}
.ftr-btm-menu ul,
.ftr-btmbar,
.copyright-btm-menu-cntlr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.ftr-copyright{
	padding-right: 13px;
}
.ftr-btm-menu ul{

}
.ftr-btm-menu ul li{
	padding: 0 13px;
	position: relative;
}
.ftr-btm-menu ul li:after{
	position: absolute;
	content: "";
	top: 50%;
	left: 0;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	width: 7px;
	height: 11px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../images/ftr-btm-menu-slush.png');
}
.ftr-btm-menu ul li a,
.ftr-copyright p{
	margin-bottom: 0;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 500;
	font-size: 13px;
	line-height: 1;
	letter-spacing: -0.02em;
	color: rgba(79, 75, 52, 0.4);
	display: inline-block;
	text-decoration: none;
}
.develop-by p a:hover,
.ftr-btm-menu ul li a:hover{
	color: #F4A301;
}
.develop-by{
	margin-left: auto;
}
.develop-by p{
	margin-bottom: 0;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 500;
	font-size: 13px;
	line-height: 1;
	text-align: right;
	letter-spacing: -0.02em;
	color: #F4A301;
}
.develop-by p a{
	color: rgba(79, 75, 52, 0.4);
	display: inline-block;
	text-decoration: none;
}

@media(max-width: 1199px){
	.footer-wrp{
		border-top: 8px solid #E83747;
	}
	.footer-inr{
		padding-top: 80px;
	}
	.ftr-logo a{
		max-width: 255px;
	}
	.ftr-menu ul{
		margin: 0 -22px;
	}
	.ftr-menu ul li{
		padding: 0 22px;
	}
	.ftr-menu ul li a{
		padding-left: 20px;
	}
	.ftr-details-col span{
		font-size: 16px;
	}
	.develop-by p,
	.ftr-btm-menu ul li a, 
	.ftr-copyright p{
		font-size: 12px;
	}
	.ftr-copyright{
		padding-right: 10px;
	}
	.ftr-btm-menu ul{
		margin: 0 -10px;
	}
	.ftr-btm-menu ul li{
		padding: 0 10px;
	}
	.ftr-Slogan{
		margin-bottom: 50px;
	}
	.ftr-rgt-mdl{
		padding-bottom: 28px;
	}
	.ftr-btmbar{
		padding: 25px 0;
	}
}
@media(max-width: 991px){
	.footer-wrp{
		border-top: 6px solid #E83747;
	}
	.footer-inr{
		display: block;
	}
	.ftr-logo a{
		max-width: 295px;
	}
	.ftr-lft{
		max-width: 100%;
		text-align: center;
		padding-bottom: 40px;
		border-bottom: 1px solid #E8E8E8;
		margin-bottom: 60px;
	}
	.ftr-logo{
		margin-bottom: 0;
	}
	.ftr-rgt{
		max-width: 100%;
	}
	.ftr-rgt-mdl{
		display: block;
	}
	.ftr-menu{
		max-width: 100%;
		padding-bottom: 10px;
	}
	.ftr-menu ul{
		display: block;
		margin: 0;
	}
	.ftr-menu ul li{
		padding: 0;
		text-align: center;
		width: 100%;
		margin-bottom: 30px;
	}
	.ftr-menu ul li a{
		padding: 0;
		font-size: 14px;
	}
	.ftr-menu ul li a:after{
		content: none;
		display: none;
	}
	.ftr-menu ul li.current-menu-item a:after, .ftr-menu ul li a:hover:after{
		content: none;
		display: none;
	}
	.ftr-btn{
		text-align: center;
		margin-top: 0;
	}
	.ftr-rgt-mdl{
		padding-bottom: 62px;
		margin-bottom: 47px;
	}
	.ftr-details{
		text-align: center;
		margin-bottom: 45px;
	}
	.ftr-details-col span{
		font-size: 18px;
	}
	.copyright-btm-menu-cntlr,
	.ftr-btmbar{
		display: block;
		text-align: center;
	}
	.ftr-copyright{
		padding-right: 0;
		margin-bottom: 3px;
	}
	.develop-by p, 
	.ftr-btm-menu ul li a, 
	.ftr-copyright p{
		font-size: 14px;
	}
	.ftr-btm-menu{
		margin-bottom: 17px;
	}
	.ftr-btm-menu ul{
		justify-content: center;
		margin: 0 -14px;
	}
	.ftr-btm-menu ul li{
		padding: 0 14px;
	}
	.ftr-btm-menu ul li:first-child:after{
		content: none;
		display: none;
	}
	.ftr-btmbar{
		padding: 0 0 28px 0;
	}
	.develop-by{
		margin-left: initial;
	}
	.develop-by p{
		text-align: center;
	}
}
@media(max-width: 767px){
	.ftr-logo a{
		max-width: 230px;
	}
	.footer-wrp{
		border-top: 4px solid #E83747;
	}
}
@media(max-width: 575px){
	.ftr-logo a{
		max-width: 205px;
	}
	.ftr-btm-menu ul{
		margin: 0 -10px;
	}
	.ftr-btm-menu ul li{
		padding: 0 10px;
	}
}

