.footer-wrp{

}
.footer-inr{
	display: flex;
	flex-wrap: wrap;
	padding-top: 100px;
}
.ftr-lft{
	max-width: 34.188%;
	width: 100%;
	padding-right: 20px;
}
.ftr-logo{
	margin-bottom: 68px;
}
.ftr-logo a{
	display: inline-block;
	max-width: 280px;
}
.ftr-rgt{
	max-width: 65.812%;
	width: 100%;
}
.ftr-details{

}
.ftr-details-col{
	margin-bottom: 14px;
}
.ftr-addr.ftr-details-col{
	margin-bottom: 21px;
}
.ftr-details-col span{
	font-size: 18px;
	line-height: 1.4;
	color: #4F4B34;
}
.ftr-details-col span a{
	display: inline-block;
	color: #4F7F35;
}.ftr-details-col span a:hover{
	color: #F4A301;
}

.ftr-Slogan{
	margin-bottom: 70px;
	border-bottom: 1px solid #E8E8E8;
}
.ftr-Slogan-title{
	letter-spacing: -0.02em;
	color: #F4A301;
	margin-bottom: 40px;
}
.ftr-rgt-mdl{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 38px;
	border-bottom: 1px solid #E8E8E8;
}
.ftr-menu{
	max-width: 66.117%;
	width: 100%;
}
.ftr-menu ul{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 -35px;
}
.ftr-menu ul li{
	line-height: 1;
	padding: 0 35px;
	width: 33.33%;
	margin-bottom: 27px;
	position: relative;
}
.ftr-menu ul li.active a{
	color: #4F7F35;
}
.ftr-menu ul li a:after{
	position: absolute;
	content: "";
	left: 0;
	top: 2px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	background: #F4A301;
	border-radius: 2px;
	height: 11.23px;
	width: 11.23px;
	transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
	opacity: 0;
}
.ftr-menu ul li.active a:after,
.ftr-menu ul li a:hover:after{
	opacity: 1;
	content: "";
}
.ftr-menu ul li a{
	position: relative;
	padding-left: 30px;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700;
	font-size: 13px;
	line-height: 1;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #4F4B34;
	display: inline-block;
	text-decoration: none;
}
.ftr-btn{
	margin-left: auto;
}
.ftr-btn a{
	display: inline-block;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #4F7F35;
    border-radius: 8px;
    text-decoration: none;
    padding: 17.5px 23px 17.5px 53px;
    position: relative;
}
.ftr-btn a:hover{
	background: #F4A301;
}
.ftr-btn a i {
    display: inline-block;
    position: absolute;
    left: 21px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.ftr-btmbar{
	padding: 32px 0 35px;
}
.ftr-btm-menu ul,
.ftr-btmbar,
.copyright-btm-menu-cntlr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.ftr-copyright{
	padding-right: 13px;
}
.ftr-btm-menu ul{

}
.ftr-btm-menu ul li{
	padding: 0 13px;
	position: relative;
}
.ftr-btm-menu ul li:after{
	position: absolute;
	content: "";
	top: 50%;
	left: 0;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	width: 7px;
	height: 11px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../images/ftr-btm-menu-slush.png');
}
.ftr-btm-menu ul li a,
.ftr-copyright p{
	margin-bottom: 0;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 500;
	font-size: 13px;
	line-height: 1;
	letter-spacing: -0.02em;
	color: rgba(79, 75, 52, 0.4);
	display: inline-block;
	text-decoration: none;
}
.develop-by p a:hover,
.ftr-btm-menu ul li a:hover{
	color: #F4A301;
}
.develop-by{
	margin-left: auto;
}
.develop-by p{
	margin-bottom: 0;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 500;
	font-size: 13px;
	line-height: 1;
	text-align: right;
	letter-spacing: -0.02em;
	color: #F4A301;
}
.develop-by p a{
	color: rgba(79, 75, 52, 0.4);
	display: inline-block;
	text-decoration: none;
}