.header{

}
.header-sticky.fixed-hdr {
    top: 0;
    opacity: 1;
}
.header-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: -100px;
    background: #fff;
    transition: top 0.3s;
    -moz-transition: top 0.3s;
    -webkit-transition: top 0.3s;
    -o-transition: top 0.3s;
    z-index: 999;
    opacity: 0;
        box-shadow: 0px 9px 20px -12px rgb(221 218 218 / 75%);
    -webkit-box-shadow: 0px 9px 20px -12px rgb(221 218 218 / 75%);
    -moz-box-shadow: 0px 9px 20px -12px rgba(221,218,218,0.75);
}
.header-sticky .header-inr{
	padding: 24px 0;
}
.header-inr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 54px 0;
}
.hdr-lft{

}
.logo{

}
.logo{

}
.logo a{
	display: inline-block;
	max-width: 280px;
}
.hdr-menu{
	margin-left: auto;
	transform: translateX(-25px);
	-ms-transform: translateX(-25px);
	-webkit-transform: translateX(-25px);
	-o-transform: translateX(-25px);
}

nav.main-nav ul li a{
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700;
	font-size: 15px;
	line-height: 1;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #4F4B34;
	position: relative;
	text-decoration: none;
	display: inline-block;
}
nav.main-nav > ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -18px;
	padding-top: 15px;
}
nav.main-nav > ul > li{
	padding: 0 18px;
	position: relative;
}
nav.main-nav > ul > li:after{
	content: "";
	position: absolute;
	top: -21px;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	background-image: url('../images/square-icon.svg');
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	opacity: 0;
	z-index: -2;
}
nav.main-nav > ul > li.current-menu-item:after,
nav.main-nav > ul > li:hover:after{
	opacity: 1;
	z-index: 12;
}
nav.main-nav > ul > li.menu-item-has-children a{
	padding-right: 20px;
}
nav.main-nav > ul > li.menu-item-has-children > a:before{
	position: absolute;
	top: 2px;
	right: 0;
	content: "";
	background-image: url('../images/black-btm-arrow.svg');
	width: 12px;
	height: 8px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
nav.main-nav > ul > li.menu-item-has-children:hover > a:before {
    transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}

nav.main-nav > ul > li > a{
	padding-bottom: 15px;
}
nav.main-nav > ul > li.current-menu-item a{
	color: #4F7F35;
}



nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    z-index: -9999;
    width: 200px;
    padding: 0;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    -o-transform: scale3d(1,0,1);
    transform-origin: top;
    opacity: 0;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
    -ms-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15%);
    -webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
}
nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu {
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    opacity: 1;
    visibility: visible;
    z-index: 9999;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li {
    border-bottom: 1px solid #4F7F35;
    position: relative;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child{
	border-bottom: 0;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a {
    font-size: 14px;
    display: block;
    padding: 7px 19px;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a:hover{
	color: #4F7F35;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after {
    position: absolute;
    content: '';
    background: #4F7F35;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu > li:hover:after {
    height: 100%;
}
.hdr-right-cntlr{
	margin-left: auto;
}
.hdr-right{
	
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-left: -8px;
	margin-right: -8px;
}

.hdr-lang-cntlr{
	height: 50px;
	width: 64px;
	position: relative;
	margin: 0 8px;
}
/*hdr-language*/
.hdr-language{
	position: absolute;
	top: 0;
	right: 0;
	background: #F4A301;
	border-radius: 8px;
}

.fl-lang{
	padding: 0 0 0 0;
	display: flex;
	align-items: center;
}
.fl-lang-cntlr{
	position: relative;
	min-height: 50px;
	padding-left: 5px;
	min-width: 64px;
}
.fl-lang ul li.lang-active{
	position: relative;
	opacity: 1;
	padding-top: 0;
	
}
.fl-lang ul li.lang-active a{
	
}
.fl-lang ul li{
	position: absolute;
	text-align: left;
	left: 0;
	right: 0;
	top: 3px;
	padding-right: 32px;
	opacity: 0;
	z-index: 22;
	padding-bottom: 5px;
	padding-left: 13px;
}
.fl-lang ul li a{
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700;
	font-size: 15px;
	line-height: 1;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
}
.fl-lang-cntlr:after{
	background-image: url('../images/white-btm-arrow.svg');
	background-repeat: no-repeat;
	content: "";
	width: 12px;
	height: 8px;
	background-size: contain;
    padding-right: 0;
    position: absolute;
    top: 21px;
    right: 11px;
    z-index: 21;
    transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.fl-lang-cntlr:hover:after{
	transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
}
.fl-lang ul li a:hover,
.hdr-wishlist-btn strong:hover,
.hdr-search button:hover{
	opacity: 0.8;
}
.fl-lang-cntlr ul{
	position: absolute;
	left: 0;
	right: 0;
	border-radius: 8px;
	z-index: 20;
	padding: 10px 0 5px 0;	
}
.fl-lang-cntlr:hover ul{
	background-color: #F4A301;
	-webkit-box-shadow: 0px 0px 14px -2px rgba(240,240,240,1);
	-moz-box-shadow: 0px 0px 14px -2px rgba(240,240,240,1);
	box-shadow: 0px 0px 14px -2px rgba(240,240,240,1);
	text-align: left;
}
.fl-lang-cntlr:hover{
	overflow: initial;
}
.fl-lang-cntlr:hover li.lang-active,
.fl-lang-cntlr:hover li{
	position: relative;
	opacity: 1!important;
	padding-top: 0;
	padding-right: 22px;
}

.hdr-contact-btn{
	padding: 0 8px;
}
.hdr-contact-btn a{
	display: inline-block;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700;
	font-size: 15px;
	line-height: 1;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #4F7F35;
	border-radius: 8px;
	text-decoration: none;
	padding: 17.5px 23px 17.5px 53px;
	position: relative;
}
.hdr-contact-btn a i{
	display: inline-block;
	position: absolute;
	left: 21px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.hdr-contact-btn a:hover{
	background: #F4A301;
}

/*hdr-language*/
.hamburgar-cntlr{
	margin-left: auto;
}
.hamburger-icon {
    height: 20px;
    width: 27px;
    position: relative;
}
.hamburger-icon span {
    position: absolute;
    content: "";
    border-radius: 1px;
    height: 3px;
    left: 0;
    right: 0;
    top: 0;
    background: #514C35;
}
.hamburger-icon span:nth-child(2) {
    top: 8px;
}
.hamburger-icon span:nth-child(3) {
    top: 16px;
}

body.allWork {
    overflow: hidden!important;
}
.allWork .bdoverlay {
    z-index: 9999;
    opacity: 1;
}
body.allWork .hamburger-icon span:nth-child(1) {
    top: 9px;
    left: 8px;
    transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	background: #000;
}
body.allWork .hamburger-icon span:nth-child(2) {
    content: none;
    display: none;
}
body.allWork .hamburger-icon span:nth-child(3) {
    top: 9px;
    left: 8px;
    transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	background: #000;
}

.allWork .bdoverlay {
    z-index: 9999;
    opacity: 1;
}
.bdoverlay {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
}

.allWork .xs-mobile-menu {
    right: 0;
    opacity: 1;
    z-index: 99999;
    width: 100%;
}
.xs-mobile-menu {
    position: fixed;
    top: 0;
    right: -375px;
    bottom: 0;
    background: #fff;
    width: 0;
    z-index: 99999;
    opacity: 0;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding-top: 105px;
    height: 100%;
    max-width: 375px;
    width: 100%;
    padding-bottom: 169px;
    background: url('../images/xs-menu-bg.png');
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.logo-close-btn-cntlr{
	display: flex;
	align-items: center;
	padding: 33px 0;
}
.xs-pop-up-menu-inr {
    height: 100%;
    width: 100%;
}
.xs-pop-up-menu-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 20px;
    background: #fff;
}
.xs-pop-menu-con {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    z-index: 10;
}

.xs-pop-menu-btm {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    padding: 10px 20px 20px;
}
.xs-logo a{
	max-width: 205px;
	display: inline-block;
}



/*responsive*/
@media(max-width: 1399px){
	.logo a {
		max-width: 265px;
	}
	nav.main-nav > ul{
		margin: 0 -15px;
	}
	nav.main-nav > ul > li{
		padding: 0 15px;
	}
	nav.main-nav > ul > li > a {
		padding-bottom: 14px;
	}
	.hdr-menu {
		transform: translateX(-15px);
		-ms-transform: translateX(-15px);
		-webkit-transform: translateX(-15px);
		-o-transform: translateX(-15px);
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
		padding-left: 15px;
		padding-right: 15px;
	}
	.fl-lang ul li.lang-active a,
	.hdr-contact-btn a,
	.fl-lang ul li a{
		font-size: 14px;
	}
}
@media(max-width: 1299px){
	.logo a {
		max-width: 255px;
	}
	nav.main-nav > ul{
		margin: 0 -12px;
	}
	nav.main-nav > ul > li{
		padding: 0 12px;
	}
	.hdr-menu {
		transform: initial;
		-ms-transform: initial;
		-webkit-transform: initial;
		-o-transform: initial;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
		padding-left: 12px;
		padding-right: 12px;
	}
	.fl-lang ul li.lang-active a,
	.hdr-contact-btn a,
	.fl-lang ul li a{
		font-size: 13px;
	}
}
@media(max-width: 1199px){
	.header-inr{
		padding: 33px 0;
	}

	nav.main-nav > ul {
		display: block;
		margin: 0;
	}
	nav.main-nav > ul > li {
		padding: 15px 0;
		text-align: center;
	}
	nav.main-nav > ul > li > a{
		font-size: 18px;
		padding-bottom: 0;
		color: #4F4B34;
	}
	nav.main-nav > ul > li > a:hover{
		color: #4F4B34;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
		position: static;
		z-index: 15;
		width: 100%;
		padding: 20px 0 0 0;
		transition: initial;
		transform: initial;
		opacity: 1;
		box-shadow: none;
		display: block;
		background: transparent!important;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li {
		border-bottom: 0;
		padding-left: 0;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a {
		font-size: 16px;
	}
	nav.main-nav > ul > li.menu-item-has-children > a{
		padding-right: 0;
	}
	nav.main-nav > ul > li.menu-item-has-children > a:before{
		content: none;
		display: none;
	}
	nav.main-nav > ul > li:after{
		content: none;
	}
	.hdr-lang-cntlr{
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.hdr-contact-btn{
		padding: 0;
	}
	.xs-pop-menu-btm .hdr-contact-btn a{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.xs-pop-menu-btm .hdr-contact-btn a span{
		order: 2;
	}
	.xs-pop-menu-btm .hdr-contact-btn a i{
		position: static;
		padding-right: 8px;
		left: initial;
		top: initial;
		transform: initial;
		-ms-transform: initial;
		-webkit-transform: initial;
		-o-transform: initial;
		order: 1;
	}
	.fl-lang ul li.lang-active a,
	.fl-lang ul li a{
		font-size: 16px;
	}
	.fl-lang ul li{
		top: 2px;
	}
}
@media(max-width: 991px){
	
}
@media(max-width: 767px){
	.logo a {
		max-width: 230px;
	}
}
@media(max-width: 575px){
	.logo a {
		max-width: 205px;
	}
	.fl-lang-cntlr ul{
		padding-top: 16px;
	}
}
