.tv-modl-intro-sec{
	background: linear-gradient(360deg, #FAFAFA 0.94%, #FFFFFF 98.23%);
	padding-top: 100px;
	padding-bottom: 140px;
}
.tv-intro-modl-sec-cntlr{
	padding: 40px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	flex-wrap: wrap;
	box-shadow: 0px 3px 5px 1px rgba(241,241,241,0.32);
	-webkit-box-shadow: 0px 3px 5px 1px rgba(241,241,241,0.32);
	-moz-box-shadow: 0px 3px 5px 1px rgba(241,241,241,0.32);
}
.sec-module-col{
	position: relative;
	overflow: hidden;
}
.img-lft{
	max-width: 47%;
	width: 100%;
}
.vo-module-img{
	height: 300px;
	transition: all .5s;
	-webkit-transition: all .5;
	-moz-transition: all .5;
}
.vo-module-img img{
	height: 310px;
	transition: all .5s;
	-webkit-transition: all .5;
	-moz-transition: all .5;
}
.has-img{}
.has-img img{
	display: none;
}
.cont-rgt{
	padding-left: 45px;
	max-width: 53%;
	width: 100%;
}
.tv-date{
	font-family: 'Libre Franklin', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.1;
	letter-spacing: -0.02em;
	color: #F4A301;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 10px;
}
.sec-modl-cont-tt a{
	display: inline-block;
	text-decoration: none;
	color: #4F4B34;
}
.sec-modl-cont-tt:hover a{
	color: #F4A301;
}
.des{
	margin-bottom: 20px;
}
.des p{
	line-height: 1.4;
}
.des p:last-child{
	margin-bottom: 0!important;
}
.tv-grids-modl-sec{
	background-color: #fff;
	padding-top: 50px;
	padding-bottom: 80px;
}
.tv-bots-selct-cntlr{}
.tv-grids-modl-sec-cntlr{
	position: relative;
	padding: 60px 0;
}
.tv-grids-modl-sec-cntlr:after{
	position: absolute;
	content: "";
	width: 100%;
	background-color: #f8f8f8;
	height: 2px;
	bottom: 0;
}
.tv-grids-modl-sec-cntlr:before{
	position: absolute;
	content: "";
	width: 100%;
	background-color: #f8f8f8;
	height: 2px;
	top: 0;
}

.tv-grids-modl-sec-cntlr ul{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0 -10px;
}
.tv-grids-modl-sec-cntlr ul li{
	width: 50%;
	padding: 0 10px 45px 10px;
}
.tv-grid-modl-item{
	display: flex;
	align-items: center;
	justify-content: center;
}
.tv-grid-modl-item:hover .gmi-img-cntlr .gmi-inline-bg{
	transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.gmi-img-cntlr{
	position: relative;
	overflow: hidden;
	width: 28%;
	max-width: 140px;
}
.gmi-inline-bg{
	height: 140px;
	transition: all .5s;
	-webkit-transition: all .5;
	-moz-transition: all .5;	
}
.gmicnt-cntlr{
	padding-left: 30px;
	width: 75%;
}
.gmi-cntnt-tt{
	font-size: 22px;
	margin-bottom: 10px;
}
.gmi-cntnt-tt:hover a{
	color: #f5a301;
}
.gmi-cntnt-tt a{
	display: inline-block;
	text-decoration: none;
	color: #4F4B34;
}
.gmicnt-btn{
	line-height: 1;
}
/*___________________________pagination_____________________________*/
.fl-pagination-cntlr{
    display: flex;
    justify-content: center;
    padding-top: 75px;
    position: relative;
}
.fl-pagination-cntlr ul{
	position: relative;
	width: 100%;
	display: flex;
}
/*.fl-pagination-cntlr ul li a.prev:first-child {
    position: absolute;
    left: 0;
}
.fl-pagination-cntlr ul li a.next:last-child{
	position: absolute;
	right:  0;
}*/
.fl-pagination-cntlr ul li::before{
	content: none;
}
.fl-pagination-cntlr ul, .fl-pagination-cntlr ul li{
    display: flex;
    justify-content: center;
}
.fl-pagination-cntlr ul li span{
    font-weight: 500;
    font-size: 16px;
    padding: 2px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fl-pagination-cntlr ul li a,
.page-numbers.dots,
.fl-pagination-cntlr ul li span{
}
.fl-pagination-cntlr ul li a.prev {
    position: absolute;
    left: 0;
}
.fl-pagination-cntlr ul li a.next{
	position: absolute;
	right: 0;
}
.fl-pagination-cntlr ul li a,
 .page-numbers.dots {
    font-size: 16px;
    width: 39px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666666;
    padding: 0;
    text-decoration: none;
}
.fl-pagination-cntlr ul li{
	position: initial;
}
.fl-pagination-cntlr ul li a:hover,
.fl-pagination-cntlr ul li span:hover{
    color: #f5a301;
}
.page-numbers.current{
    color: #f5a301;
}
.fl-pagination-cntlr .prev, .fl-pagination-cntlr .next{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px!important;
}
.fl-pagination-cntlr .prev:after {
    position: absolute;
    content: "";
    background-image: url('../images/prev-icon.svg');
    background-repeat: no-repeat;
    width: 9.5px;
    height: 6.5px;
    background-size: 100% auto;
    left: 0;
}
.fl-pagination-cntlr .next:after{
    position: absolute;
    content: "";
    background-image: url('../images/next-icon.svg');
    background-repeat: no-repeat;
    width: 9.5px;
    height: 6.5px;
    background-size: 100% auto;
    right: 0;
}
.fl-pagination-cntlr .prev:hover,
.fl-pagination-cntlr .next:hover{
	    color: #f5a301;
	}
.opacity{
	    opacity: .5;
}

.tv-select-cntlr {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 35px;
    line-height: 1;
}
/*------------------------------select2 start--------------------------------------------*/
.tv-select-down-icon{
    position: relative;
}
.tv-select-down-icon:after,
.wpforms-field-select:after{
    content: "\f107";
    font-family:"Font Awesome 5 Free";
    font-style: normal;
    font-weight: 600;
    text-decoration: inherit;
    color: #518635;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin-top: -2px;
}
.tv-select-down-icon .iit-custom-select option{
    background: #ff9140;
    color: #fff;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}.tv-select-down-icon .iit-custom-select option:hover,
.tv-select-down-icon .iit-custom-select option[selected]{
    background: #dc7223!important;
}
.nov-field-label{
	font-size: 16px;
}

/*select-2-end*/
/*----------------------------------------responsive----------------------------------------*/
@media(max-width: 1699px){
	.tv-modl-intro-sec {
    padding-top: 60px;
    padding-bottom: 80px;
	}
	.vo-module-img {
	    height: 290px;
	}
	.tv-intro-modl-sec-cntlr{
		padding: 35px 20px;
	}
	.cont-rgt {
	    padding-left: 35px;
	}

	.tv-date{
		font-size: 15px;
	}
	.nov-des {
	    margin-bottom: 15px;
	    padding-right: 55px;
	}
	.nov-des p {
	    line-height: 1.4;
	    font-size: 17px;
	}
	.gmi-cntnt-tt{
		font-size: 20px!important;
	}

	.fl-pagination-cntlr ul li a.prev,
	.fl-pagination-cntlr ul li a.next{
		font-size: 14px;
	}
	.fl-pagination-cntlr ul li a,
 	.page-numbers.dots,
 	.fl-pagination-cntlr ul li span {
	    font-size: 15px;
	    width: 37px;
	    height: 26px;
	}
}
@media(max-width: 1199px){
	.sec-modl-cont-tt {
	    font-size: 19px;
	}
	.vo-module-img {
	    height: 280px;
	}
	.nov-des p {
	    line-height: 1.3;
	    font-size: 17px;
	}
	.tv-modl-intro-sec {
	    padding-top: 50px;
	    padding-bottom: 70px;
	}
	.cont-rgt {
	    padding-left: 30px;
	}
	.gmi-cntnt-tt {
	    font-size: 18px!important;
	}
	.gmicnt-cntlr {
	    padding-left: 25px;
	}
	.tv-grids-modl-sec-cntlr ul li {
	    padding: 0 15px 45px 15px;
	}
	.tv-grids-modl-sec-cntlr ul{
		margin: 0 -15px;
	}
	.nov-gmi-img-cntlr{
		max-width: 117px!important;
	}
	.no-gmi-inline-bg{
		height: 117px!important;
	}
}
@media(max-width: 991px){
	.vo-module-img {
	    height: 265px;
	}
	.tv-modl-intro-sec {
	    padding-top: 40px;
	    padding-bottom: 60px;
	}
	.cont-rgt {
	    padding-left: 25px;
	}
	.nov-des p {
	    line-height: 1.2;
	    font-size: 16px;
	}
	.vo-module-img {
	    height: 225px;
	}
	.tv-date {
	    font-size: 13.5px;
	    margin-bottom: 5px;
	}
	.gmi-cntnt-tt {
	    font-size: 17px!important;
	    margin-bottom: 0;
	}
	.gmicnt-cntlr {
	    padding-left: 20px;
	}
	.no-gmi-inline-bg{
		/*height: 123px;*/
	}
	.tv-grids-modl-sec-cntlr ul {
	    margin: 0 -5px;
	}
	.tv-grids-modl-sec-cntlr ul li {
	    padding: 0 5px 45px 5px;
	}
	.tv-grids-modl-sec-cntlr {
	    padding: 40px 0 0;
	}
	.fl-pagination-cntlr{
		padding-top: 55px;
	}
	.gmi-img-cntlr{
		width: 35%;
	}
	.nov-gmi-img-cntlr{
		width: 63%!important;
	}
}
@media(max-width: 767px){
	.tv-no-breadcrumb-cntlr{
		display: none;
	}
	.no-page-banner, .vo-page-banner{
		background-color: #fff;
	}
	.tv-modl-intro-sec {
	    background: linear-gradient(176deg, #fefefe 0.94%, #fafafa 98.23%);
	    padding-top: 15px;
	    padding-bottom: 70px;
	}
	.no-page-banner-tt, .vo-page-banner-tt{
		margin-bottom: 10px;
	}
	.img-lft{
		max-width: 100%;
		width: 100%;
	}
	.cont-rgt {
	    padding-left: 0;
	    max-width: 100%;
		width: 100%;
		padding-top: 10px;
	}
	.tv-intro-modl-sec-cntlr {
	    padding: 35px 24px;
	    max-width: 500px;
	    width: 100%;
	    margin: 0 auto;
	    position: relative;
	    padding-top: 20px;
	}
	.vo-module-img {
	    height: 200px;
	}
	.sec-modl-cont-tt {
	    font-size: 24px;
	}
	.nov-des p {
	    line-height: 1.5;
	    font-size: 14px;
	}
	.two-line {
	    margin-top: -23px;
	    margin-left: 15px;
	}
	.two-line i{
		display: inline-block;
	}
	.vo-module-img img {
	    height: 160px;
	}
	.gmicnt-cntlr {
	    padding-left: 15px;
	}
	.tv-grids-modl-sec-cntlr ul{
		margin: 0 -7px;
	}
	.tv-grids-modl-sec-cntlr ul li {
	    padding: 0 7px 45px 7px;
	}
	.gmi-cntnt-tt {
	    font-size: 16px!important;
	}
	.tv-grids-modl-sec-cntlr {
	    padding: 50px 0 0;
	}
	.fl-pagination-cntlr{
		padding-top: 45px;
	}
	.no-sec-devider{
		margin-bottom: 7px!important;
	}
	.fl-pagination-cntlr .prev:after{
		width: 16px;
		height: 11px;	
	}
	.fl-pagination-cntlr .next:after{
		width: 16px;
		height: 11px;
	}
	.tv-intro-modl-sec-cntlr{
		padding-top: 19px;
		padding-left: 23px;
		padding-right: 23px;
	}
	.tv-grids-modl-sec{
		padding-top: 40px;
		padding-bottom: 45px;
	}
	.tv-select-cntlr{
		padding-bottom: 26px;
	}
}

@media(max-width: 639px){
	.gmi-img-cntlr {
	    width: 45%;
	}
}
@media(max-width: 575px){
	.vo-module-img {
	    height: 180px;
	}
	.sec-modl-cont-tt {
	    font-size: 21px;
	}
	.tv-grids-modl-sec-cntlr ul li{
		width: 100%;
	}
	.tv-grids-modl-sec-cntlr ul li {
    padding: 0 0 45px 0;
	}
	.tv-grids-modl-sec-cntlr ul{
		margin: 0;
	}
	.gmicnt-cntlr {
	    padding-left: 20px;
	}
	.gmi-cntnt-tt {
	    font-size: 18px!important;
	}
	.tv-grids-modl-sec-cntlr {
	    padding: 45px 0;
	    padding-bottom: 0;
	}
	.gmi-img-cntlr {
	    width: 35%;
	}
	.tv-grids-modl-sec{
		padding-top: 30px;
	}
	.tv-select-cntlr{
		padding-bottom: 16px;
	}

	
}
@media(max-width: 479px){
	.gmi-img-cntlr{
		width: 40%;
	}
	.tv-select-down-icon span.select2.select2-container.select2-container--default{
		width: 190px!important;
	}
	
}
@media(max-width: 379px){
	.tv-date {
	    font-size: 12px;
	    margin-bottom: 10px!important;
	}
	.gmi-cntnt-tt {
	    font-size: 17px!important;
	}
}
@media(max-width: 359px){
	.gmi-cntnt-tt {
    	font-size: 15px!important;
	}
	.gmicnt-cntlr {
	    padding-left: 15px;
	}
	.tv-date {
	    font-size: 12px;
	}
}
@media(max-width: 320px){
	.gmi-img-cntlr {
	    width: 50%;
	}
}
