/*over one intro sec*/

.over-ons-intro-sec{
	background: linear-gradient(360deg, #FAFAFA 0.94%, #FFFFFF 98.23%);
	padding-top:100px;
	padding-bottom:100px;
}
.over-ons-title-icon {
    position: absolute;
    left: 0;
    top: 0;
} 
.over-ons-intro-sec-right {
    width: 42%;
}
.over-ons-intro-sec-left {
    width: 58%;
}
.over-ons-intro-sec-img {
    height: 600px;
    width: 100%;
}

.over-ons-img {
    height: 100%;
    width: 100%;
}

.over-ons-intro-sec-cntlr,
.over-ons-history-sec-cntlr{
    display: flex;
    align-items: center;
}

.over-ons-intro-des {
    padding-right: 45px;
}
.over-ons-des-title{
	color: #4F7F35;
	padding-left: 45px;
	margin-bottom: 18px;
    position: relative;
    text-transform: uppercase;
}
.over-ons-intro-button a:not(:last-child) {
    margin-right: 24px;
}
.over-ons-intro-button {
    padding-top: 25px;
}
.over-ons-des-cntlr .over-ons-des-heading{
	margin-bottom:35px;
    text-transform: capitalize;
}



/*professional sec*/

.professional-title .professional-heading{
    margin-bottom: 0;
}
.professional-title {
    padding-right: 20px;
}
.strong-professional-sec-cntlr{
	display: flex;
    padding: 70px 0;
    align-items: center;
    border-bottom: 1px solid #f7f1f1;
}
.professional-team-logo {
    margin-left: auto;
}
.professional-team-logo ul li {
    padding: 10px 25px;
}

.professional-team-logo ul {
    display: flex;
    margin:0 -25px;
    align-items: center;
    flex-wrap: wrap;
    justify-content:center;
}
.prfnl-tm-logo i img {
    max-width: 120px;
    width:100%;
    max-height:81px;
}
.prfnl-tm-logo {
    height: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prfnl-tm-logo i{
    display: inline-block;
    vertical-align: baseline;
}
.prfnl-tm-logo i a:hover img {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

/*certificates-guarantee*/
.certificates-guarantee-sec{
	padding-top: 70px;
	padding-bottom: 62px;
}
.certificates-guarantee-grd ul {
    display: flex;
    flex-wrap: wrap;
}

.certificates-guarantee-grd ul li {
    width: 50%;
    margin-bottom:44px;
}
.certificates-guarantee-grd-item {
    display: flex;
    align-items: center;
}
.certificates-guarantee-log {
    min-width: 150px;
    height: 150px;
    border: 2px solid #F2EEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
}
.certificates-guarantee-log img{
	max-width:90px;
	width:100%;
}
.certificates-guarantee-log:hover a+img{
    transform:scale(1.1);
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
}
.certificates-guarantee-title .certificates-guarantee-heading {
    margin-bottom: 50px;
}
.certificates-guarantee-des{
	padding-left:23px;
    padding-right: 20px;
}
.certificates-guarantee-des .certificates-guarantee-des-title,
.certificates-guarantee-des .certificates-guarantee-des-title a{
	color: #4F7F35;
	text-transform: uppercase;
    text-decoration: none;
}
.certificates-guarantee-des .certificates-guarantee-des-title a:hover{
    color: #ea7a04;
}

.over-ons-cta-module-sec{

}
.over-ons-cta-module-sec .cta-module-ctlr{
    margin-bottom: 0;
}
/*over-ons-history-sec*/
.over-ons-history-sec{
    padding-top: 110px;
    padding-bottom:120px;
    background-color: #FAFAFA;
}
.over-ons-history-sec-left{
    width:58%;
}
.over-ons-history-sec-righ{
    width:42%;
}
.over-ons-history-sec-cntlr{
    align-items:flex-start;
}
.over-ons-history-des-cntlr ul li span {
    color: #4F7F35;
    font-weight: 700;
}
.over-ons-history-des-cntlr ul li {
    margin-bottom: 40px;
    line-height: 1;
    position: relative;
    padding-left: 34px;
    padding-top:0;
    padding-bottom:0;
    font-size:20px;
}
.over-ons-history-des-cntlr ul li:last-child{
    margin-bottom:0;
}
.over-ons-history-des-cntlr ul {
    padding-top: 28px;
    padding-left:16px;
    padding-bottom:20px;
}
.over-ons-history-des-cntlr ul li:after {
    content: "";
    position: absolute;
    background: url(../images/history-sec-ul-icon.svg);
    width: 16px;
    height: 15px;
    background-repeat: no-repeat;
    left: 0;
    top: 1px;
}
.over-ons-history-des-cntlr ul li:before {
    content: "";
    width: 1px;
    height: 22px;
    background: #F4A301;
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateX(-50%);
    margin-top: 15px;
}
.over-ons-history-des-cntlr ul li:last-child:before{
    display: none;
}




/*over-ons-lftimg-rgtdes-sec*/
.over-ons-lftimg-rgtdes-sec{
    padding-top:100px;
    padding-bottom:60px;
}
.over-ons-lftimg-rgtdes-sec-lft{
    width:42%;
}
.over-ons-lftimg-rgtdes-sec-rgt{
    width:58%;
    padding-left: 60px;
}
.over-ons-lftimg-rgtdes-sec .fl-dft-lftimg-rgtdes{
    padding-bottom:0
}

@media(max-width:1199px){
    .over-ons-intro-sec{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .strong-professional-sec-cntlr{
        padding: 60px 0;
    }
    .over-ons-history-sec{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .professional-team-logo ul{
        margin: 0 -10px;
    }
    .over-ons-intro-sec-img{
        height: 500px;
    }
    .over-ons-lftimg-rgtdes-sec-rgt{
        padding-left: 45px;
    }

}

@media(max-width:991px){
    .over-ons-lftimg-rgtdes-sec-rgt{
        padding-left: 30px;
    }
    .over-ons-intro-sec{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .over-ons-intro-sec-right {
        width: 43%;
    }
    .over-ons-intro-sec-left {
        width: 57%;
    }
    .over-ons-intro-button a:not(:last-child){
        margin-bottom:10px;
    }
    .over-ons-title-icon{
        width:23px;
        top: -4px;
    }
    .over-ons-des-title{
        padding-left:37px;
    }
    .strong-professional-sec-cntlr {
        flex-direction: column;
        height: initial;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }

    .professional-team-logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .professional-title .professional-heading{
        margin-bottom: 31px;
    }
    .over-ons-lftimg-rgtdes-sec{
        padding-top:80px;
    }
    .over-ons-lftimg-rgtdes-sec-lft{
        width:50%;
    }
    .over-ons-lftimg-rgtdes-sec-rgt{
        width:50%;
    }
    .certificates-guarantee-sec{
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .certificates-guarantee-title .certificates-guarantee-heading{
        font-size:32px;

    }
    .certificates-guarantee-log{
        min-width:114px;
        height: 114px;
    }
    .certificates-guarantee-des p{
        margin-bottom:0px;
    }
    .certificates-guarantee-log img {
        max-width: 70px;
    }
    .certificates-guarantee-des-title{
        margin-bottom:10px;
    }
    .over-ons-intro-des {
        padding-right: 20px;
    }
    .over-ons-history-des-cntlr ul li {
        margin-bottom:38px;
    }
    .over-ons-intro-button a{
        min-width:187px;
    }
    .professional-title{
        padding-right:0;
    }


}
@media(max-width:767px){
    .over-ons-intro-sec{
        padding-top: 40px;
    }
    .over-ons-intro-sec-right {
        width: 100%;
        order:1;
    }
    .over-ons-intro-sec-left {
        width: 100%;
        order:2;
    }
    .over-ons-intro-des{
        padding-right:0px;
    }
    .over-ons-intro-sec-img {
        height: 500px;
    }
    .over-ons-intro-sec-cntlr, 
    .over-ons-history-sec-cntlr{
        flex-wrap:wrap;

    }
   .over-ons-intro-sec-img{
        height: 411px;
    }
    .over-ons-intro-sec-right{
        margin-bottom: 55px;
    }
    .over-ons-intro-button a{
        margin-bottom:0px!important;
    }
    .over-ons-intro-button{
        display: flex;
        align-items: center;
        /*justify-content: center;*/
    }
    .over-ons-des-title {
        padding-left: 29px;
    }
    .over-ons-title-icon {
        top: -5px;
        width: 17px;
    }
    .over-ons-lftimg-rgtdes-sec-lft{
        width:100%;
        max-height:450px;
    }
    .over-ons-lftimg-rgtdes-sec-rgt{
        width:100%;
    }

    .over-ons-lftimg-rgtdes-sec{
        padding-top: 60px;
        padding-bottom: 0px;
    }
    .over-ons-cta-module-sec .cta-module-ctlr{
        margin-top: 0;
    }
    .certificates-guarantee-grd ul li{

        margin-bottom:35px;
    }
    .certificates-guarantee-title .certificates-guarantee-heading{
        margin-bottom:40px;
    }
   /* .over-ons-history-sec-cntlr {
        max-width: 500px;
        margin: 0 auto;
    }*/
    .over-ons-history-sec{
        padding-top: 80px;
        padding-bottom: 70px;
    }
    .over-ons-history-des-cntlr ul{
        padding-left:0px;
    }
    .certificates-guarantee-des{
        padding-left: 12px;
        padding-right: 15px;
    }
    .over-ons-des-cntlr .over-ons-des-heading{
        margin-bottom:21px;
    }
    .over-ons-lftimg-rgtdes-sec-rgt{
        padding-left: 0;
    }
    .professional-heading{
        font-size: 30px!important;
    }
   
}
@media(max-width:639px){
    .certificates-guarantee-grd ul li{
        width:100%;
    }
    .certificates-guarantee-des .certificates-guarantee-des-title{
        font-size:25px;
    }
}
@media(max-width:575px){
    .over-ons-intro-sec-img {
        height: 450px;
    }
    .over-ons-intro-sec{
        padding-top: 50px;
        padding-bottom: 57px;
    }
    .over-ons-lftimg-rgtdes-sec .fl-dft-lftimg-rgtdes-lft{
        max-height:411px;
    }
    .over-ons-lftimg-rgtdes-sec{
        padding-top: 44px;
        padding-bottom:30px;
    }
    .over-ons-lftimg-rgtdes-sec .fl-dft-lftimg-rgtdes-rgt{
        margin-bottom:15px;
    }
    .over-ons-lftimg-rgtdes-sec-rgt h5{
        font-size:34px;
    }
    .over-ons-lftimg-rgtdes-sec .fl-dft-lftimg-rgtdes-lft{
        margin-bottom:33px;
    }










     .strong-professional-sec-cntlr {
        padding-top: 44px;
        padding-bottom: 10px;
    }
    .professional-team-logo ul li {
        padding: 5px 12px;
    }
    .professional-team-logo ul{
        margin:0 -12px;
    }
    .certificates-guarantee-title .certificates-guarantee-heading{
        font-size:30px;
    }
 
    .certificates-guarantee-title .certificates-guarantee-heading{
        margin-bottom:36px;
    }
    .certificates-guarantee-des {
        padding-left:13px;
        padding-right:0px;
    }
    .certificates-guarantee-grd ul li{
        margin-bottom:24px;
    }
    .certificates-guarantee-sec{
        padding-top: 38px;
    }
    .over-ons-history-sec-righ .over-ons-intro-sec-img {
        margin-bottom: 53px;
    }
    .over-ons-history-sec{
        padding-top: 56px;
        padding-bottom: 50px;
    }
    .certificates-guarantee-des{
        padding-right: 0;
    }
}



@media(max-width:479px){
    .over-ons-intro-sec-img {
        height: 411px;
    }
    .over-ons-intro-button a{
        min-width: 160px;
    }
    .over-ons-intro-button a:not(:last-child){
        margin-right:16px;
    }
    .over-ons-intro-sec{
        padding-top: 40px;
    }
    .over-ons-intro-sec-img{
        margin-bottom: 55px;
    }
    .over-ons-intro-button {
        padding-top: 6px;
    }
    .certificates-guarantee-des .certificates-guarantee-des-title{
        font-size: 20px;
    }
}
@media(max-width:359px){
    .over-ons-intro-button a{
        min-width:100%;
        margin-right:0!important;
    }
    .over-ons-intro-button a:not(:last-child){
        margin-bottom:10px!important;
    }
    .over-ons-intro-button{
        flex-wrap: wrap;
    }
    .over-ons-history-des-cntlr ul li{
        font-size:18px;
    }
    .professional-team-logo ul li{
        width: 100%;

    }
    .prfnl-tm-logo{
        height: 65px;
    }
}