/*over one intro sec*/
/*over one intro sec*/
.over-ons-intro-sec-right {
    width: 34%;
}
.over-ons-intro-sec-left {
    width: 66%;
}
.over-ons-intro-sec-img {
    height: 600px;
    width: 100%;
}

.over-ons-img {
    height: 100%;
    width: 100%;
}

.over-ons-intro-sec-cntlr {
    display: flex;
    align-items: center;
}

.over-ons-intro-des {
    padding-right: 45px;
}
.over-ons-des-cntlr h6 {
	color: #4F7F35;
	padding-left: 23px;
	margin-bottom: 18px;
}
.over-ons-intro-button a {
    margin-right: 24px;
}
.over-ons-intro-button {
    padding-top: 25px;
}