.slick-slider ul.slick-dots{
	position: static;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 16px!important;
	height: 16px!important;
	position: static;
	background: #E1E1E1!important;
	border-radius: 100% 100%!important;
	margin: 0 8px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active,
.slick-slider .slick-dots li:hover{
	background: #F3BA4B!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 16px;
	height: 16px;
}

.slick-dots li:only-child{ 
	display: none; 
}


.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}



.default-page-con ul,
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
	padding-left: 35px;
}
.default-page-con ul li,
ul li {
	padding: 5px 0 18px 35px;
	position: relative;
	line-height: 28px;
}
.default-page-con ul li::before,
ul li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	background: url('../images/list-icon.svg');
	background-repeat: no-repeat!important;
	width: 20px;
	height: 22px;
	margin-top: 8px;
    background-size: 100% auto;
}
.default-page-con ol,
ol{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
	padding-left: 35px;
	counter-reset: my-awesome-counter;
	-ms-counter-reset: my-awesome-counter;
	-webkit-counter-reset: my-awesome-counter;
}
.default-page-con ol li,
ol li {
	padding: 5px 0 18px 35px;
	position: relative;
	line-height: 28px;
	counter-increment: my-awesome-counter;
	-ms-counter-increment: my-awesome-counter;
	-webkit-counter-increment: my-awesome-counter;
}
.default-page-con ol li::before,
ol li::before {
	content: counter(my-awesome-counter) ".";
	position: absolute;
	left: 0;
	top: 0;
	color: #4F7F35;
	font-weight: 700;
	line-height: 16px;
	text-align: center;
	margin-top: 11px;
}


/*page-banner*/
.page-banner{
	background: #fafafa;
	padding: 20px 0;
}
.fl-h1.page-banner-title{
	line-height: 1;
}
/*breadcrumb*/
.breadcrumb-cntlr {
    overflow: hidden;
    border-radius: 3px;
}
.breadcrumb-cntlr ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -30px;
}
.breadcrumb-cntlr ul li {
    padding: 0 30px;
    position: relative;
}
.breadcrumb-cntlr ul li a:hover, .breadcrumb-cntlr ul li span:hover, .breadcrumb-cntlr ul li a span:hover {
    color: #F4A301;
}
.breadcrumb-cntlr ul li.active span{
	color: #F4A301!important;
	font-weight: 700;
}
.breadcrumb-cntlr ul li.home a, .breadcrumb-cntlr ul li:first-child a {
    padding-left: 34px;
}
.breadcrumb-cntlr ul li a, 
.breadcrumb-cntlr ul li span, 
.breadcrumb-cntlr ul li a span {
	display: inline-block;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 1;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #4F7F35;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
}
.breadcrumb-cntlr ul li.home a:after, .breadcrumb-cntlr ul li:first-child a:after {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    height: 24px;
    width: 24px;
    margin-top: -1px;
    background-size: contain;
    background-image: url(../images/home-icon.svg);
    background-repeat: no-repeat!important;
}
.breadcrumb-cntlr ul li:after {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    height: 8px;
    width: 6px;
    background-size: contain;
    background-image: url(../images/green-right-arrow.svg);
    background-repeat: no-repeat!important;
}

/*sec entry hdr*/
.sec-entry-hdr-sub-title{
	padding-left: 42px;
	position: relative;
	color: #4F7F35;
	margin-bottom: 18px;
	display: inline-block;
	text-transform: uppercase;
}
.sec-entry-hdr-sub-title i{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.sec-entry-hdr-des-cntlr{
	text-align: center;
}
.sec-entry-hdr-des-cntlr.text-align-left{
	text-align: left;
}
.sec-entry-hdr-des-cntlr.text-white .sec-entry-hdr .sec-entry-hdr-sub-title,
.sec-entry-hdr-des-cntlr.text-white .sec-entry-hdr .sec-entry-hdr-title{
	color: #ffffff;
}
/*entry sub title*/

.desc-entry-sun-hdr{
	margin-bottom: 30px;
}
.entry-sub-title{
	padding-left: 42px;
	position: relative;
	color: #fff;
	margin-bottom: 0;
	text-transform: uppercase;
}
.entry-sub-title i{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}


/* fotter top sec*/
.footer-top-sec{
	background: #e83747;
	color: #fff;
}
.ftr-top-cntlr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 99px 0 75px;
}
.ftr-top-desc-cntlr{
	max-width: 690px;
	width: 100%;
}
.ftr-top-title{
	color: #fff;

}
.ftr-top-desc p{
	line-height: 1.4;
}
.ftr-top-desc p:last-of-type{
	margin-bottom: 0;
}
.ftr-top-btn{
	margin-left: auto;
}