

.pdct-pgni-trv-Service-grid-sec{
	margin-top:0;
	background: #FAFAFA;
	padding-top:175px;
	margin-top: -100px;
	padding-bottom:80px
}
.prdct-pgni-dtls-sec-cntlr .fl-dft-lftimg-rgtdes{
	align-items: flex-start;
}
.prdct-pgni-dtls-sec-cntlr  .over-ons-lftimg-rgtdes-sec-rgt{
	padding-top:65px
}
.pdct-pgni-trv-Service-grids{
	display: flex;
	margin-left:-12px;
	margin-right:-12px
}
.pdct-pgni-trv-Service-grids .pdct-pgni-trv-Service-grids-item{
	width:33.33%;
	padding-left:12px;
	padding-right:12px;
}

.pdct-pgni-trv-Service-grid-sec .trv-Service-grid-item{
	padding: 18px 18px 37px 18px;
}
.pdct-pgni-trv-Service-grid-sec .trv-Svic-grid-des-top-2line{
	display: block;
}
.pdct-pgni-trv-Service-grid-sec .trv-Svic-grid-des-top-2line i svg {
    fill: #F4A301;
}
.pdct-pgni-trv-Service-grid-sec .trv-Service-grid-item:hover .trv-Svic-grid-des-top-2line i svg{
	fill:#E83747;
}
.prdct-pgni-dtls-sec{
	padding-bottom:0;
}
.fl-products-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.fl-products-grid .fl-products-grid-item {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 40px;
}
.related-products-sec .fl-products-cntlr{
	margin-top:0px;
}
.related-products-sec{
	padding-top:91px;
	padding-bottom: 60px;
}
.related-products-heading {
    max-width: 810px;
    margin: 0 auto;
    margin-bottom: 30px;
}
@media(max-width:1199px){
	.over-ons-lftimg-rgtdes-sec{
		padding-top:100px;
	}
	.pdct-pgni-trv-Service-grid-sec {
		margin-top:-65px;
	}
	.pdct-pgni-trv-Service-grid-sec{
		padding-top:140px;
	}

}

@media(max-width:991px){
	.pdct-pgni-trv-Service-grid-sec {
		margin-top: -45px;
	}
	.prdct-pgni-dtls-sec-cntlr  .over-ons-lftimg-rgtdes-sec-rgt{
		padding-top: 40px;
	}
	.over-ons-lftimg-rgtdes-sec{
		padding-top:80px;
	}
	.pdct-pgni-trv-Service-grid-sec{
		padding-top:100px;
	}
}
@media(max-width:767px){
	.pdct-pgni-trv-Service-grids{
		display: block;
	}
	.prdct-pgni-dtls-sec .over-ons-lftimg-rgtdes-sec{
		padding-top:60px;
	}
	.prdct-pgni-dtls-sec-cntlr .over-ons-lftimg-rgtdes-sec-rgt{
		padding-top:0;
		order:1;
	}
	.pdct-pgni-trv-Service-grid-sec{
		margin-top:0;
	}
	.prdct-pgni-dtls-sec .over-ons-lftimg-rgtdes-sec-lft{
		order:2;
	}
	.prdct-pgni-dtls-sec-cntlr .fl-dft-lftimg-rgtdes{
		display: flex;
		flex-wrap: wrap;
	}
	.prdct-pgni-dtls-sec .over-ons-lftimg-rgtdes-sec-lft{
		margin-bottom:55px;
	}
	.prdct-pgni-dtls-sec{
		padding-top:60px;
	}
	.pdct-pgni-trv-Service-grid-sec{
		padding-top:75px;
		padding-bottom: 50px;
	}
	.pdct-pgni-trv-Service-grid-sec .sec-entry-hdr-des-cntlr{
		text-align: center;
	}
	.pdct-pgni-trv-Service-grid-sec .sec-entry-hdr-title{
		margin-bottom:30px;
	}
	.pdct-pgni-trv-Service-grids .pdct-pgni-trv-Service-grids-item{
		padding-left:6px;
		padding-right:6px;
	}
	.pdct-pgni-trv-Service-grids{
		margin-left:-6px;
		margin-right:-6px;
	}
}
@media(max-width:575px){
	.prdct-pgni-dtls-sec{
		padding-top:41px;
	}
	.prdct-pgni-dtls-sec .over-ons-lftimg-rgtdes-sec-rgt{
		margin-bottom:54px;
	}
}
