/*product-pagina*/

.product-pagina-page-heading-cntlr {
    text-align: center;
    max-width: 825px;
    margin: 0 auto;
}

.product-pagina-page-heading {
    padding-top: 115px;
    padding-bottom: 155px;
    background: #fdfdfd;
}
.fl-pro-grd-title,
.fl-pro-grd-title a{
    color: #4F4B34;
    text-decoration: none;
    margin-bottom:0
}
.fl-pro-grd-des{
	margin-bottom:15px;
}
.fl-pro-grd-img-cntlr{
	margin-bottom: 24px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: auto;
    overflow: hidden;
}
.product-category .fl-products-cntlr > ul{
	display:flex;
	flex-wrap: wrap;
	margin-left:-12px;
	margin-right:-12px;
}
.product-category .fl-products-cntlr > ul > li{
	max-width:33.33%;
	padding-left:12px;
	padding-right:12px;
	margin-bottom:64px;
}
.fl-pro-grd-img-cntlr img{
	max-height:519px;
	width: auto;
}
.fl-products-cntlr {
    margin-top: -75px;
}
.fl-pro-grd-title a:hover {
    color: #ea7a04;
}