

.pdct-pgni-trv-service-grid-sec{
	margin-top:0;
	background: #FAFAFA;
	padding-top:165px;
	margin-top: -100px;
	padding-bottom: 65px
}
.prdct-pgni-dtls-sec .fl-dft-lftimg-rgtdes-lft{
	height: 580px;
}
.prdct-pgni-dtls-sec-cntlr .fl-dft-lftimg-rgtdes{
	align-items: flex-start;
}
.prdct-pgni-dtls-sec-cntlr  .over-ons-lftimg-rgtdes-sec-rgt{
	padding-top:65px
}
.pdct-pgni-trv-service-grids{
	display: flex;
	margin-left:-12px;
	margin-right:-12px;
	flex-wrap:wrap;
	padding-top:20px;
}
.pdct-pgni-trv-service-grids .pdct-pgni-trv-service-grids-item{
	width:33.33%;
	padding-left:12px;
	padding-right:12px;
	padding-bottom:30px;
}

.pdct-pgni-trv-service-grid-sec .trv-service-grid-item{
	padding: 18px 18px 37px 18px;
}
.pdct-pgni-trv-service-grid-sec .trv-svic-grid-des-top-2line{
	display: block;
}
.pdct-pgni-trv-service-grid-sec .trv-svic-grid-des-top-2line i svg {
    fill: #F4A301;
}
.pdct-pgni-trv-service-grid-sec .trv-service-grid-item:hover .trv-svic-grid-des-top-2line i svg{
	fill:#E83747;
}
.prdct-pgni-dtls-sec{
	padding-bottom:0;
}
.tv-products-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.tv-products-grid .tv-products-grid-item {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 40px;
}
.related-products-sec .tv-products-cntlr{
	margin-top:0px;
}
.related-products-sec{
	padding-top:91px;
	padding-bottom: 40px;
}
.related-products-sec-entry-hdr {
    max-width: 810px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.pdct-pgni-trv-service-grid-sec .trv-service-grid-item-cntlr{
	padding-top:0;
}
@media(max-width:1199px){
	.prdct-pgni-dtls-sec{
		padding-top:100px;
	}
	.pdct-pgni-trv-service-grid-sec {
		margin-top:-65px;
	}
	.pdct-pgni-trv-service-grid-sec{
		padding-top:140px;
	}

}

@media(max-width:991px){
	.pdct-pgni-trv-service-grid-sec {
		margin-top: -45px;
	}
	.prdct-pgni-dtls-sec-cntlr  .over-ons-lftimg-rgtdes-sec-rgt{
		padding-top: 40px;
	}
	.prdct-pgni-dtls-sec{
		padding-top:80px;
	}
	.pdct-pgni-trv-service-grid-sec{
		padding-top:100px;
	}
	.related-products-sec{
		padding-top:74px;
		padding-bottom:40px;
	}

}
@media(max-width:767px){
	.pdct-pgni-trv-service-grids{
		display: block;
	}
	.prdct-pgni-dtls-sec .over-ons-lftimg-rgtdes-sec{
		padding-top:60px;
	}
	.prdct-pgni-dtls-sec-cntlr .over-ons-lftimg-rgtdes-sec-rgt{
		padding-top:0;
		order:1;
	}
	.pdct-pgni-trv-service-grid-sec{
		margin-top:0;
	}
	.prdct-pgni-dtls-sec .over-ons-lftimg-rgtdes-sec-lft{
		order:2;
	}
	.prdct-pgni-dtls-sec-cntlr .fl-dft-lftimg-rgtdes{
		display: flex;
		flex-wrap: wrap;
	}
	.prdct-pgni-dtls-sec .over-ons-lftimg-rgtdes-sec-lft{
		margin-bottom:55px;
	}
	.prdct-pgni-dtls-sec{
		padding-top:60px;
	}
	.pdct-pgni-trv-service-grid-sec{
		padding-top:75px;
		padding-bottom: 50px;
	}
	.pdct-pgni-trv-service-grid-sec .sec-entry-hdr-des-cntlr{
		text-align: center;
	}
	.pdct-pgni-trv-service-grid-sec .sec-entry-hdr-title{
		margin-bottom:30px;
	}
	.pdct-pgni-trv-service-grids .pdct-pgni-trv-service-grids-item{
		padding-left:6px;
		padding-right:6px;
	}
	.pdct-pgni-trv-service-grids{
		margin-left:-6px;
		margin-right:-6px;
	}
	.pdct-pgni-trv-service-grids{
		padding-top:0;
	}
	.related-products-sec .sec-entry-hdr-title{
		font-size:30px;
	}

	.related-products-sec .slick-slider ul.slick-dots{
	    border-top: 1px solid #E8E8E8;
	    padding-top: 36px!important;
	    margin-left: 12px;
	    margin-right: 12px;
	}
	.related-products-sec .slick-dotted.slick-slider{
		margin-bottom:0;
	}

	.PdctPgniSlider .pdct-pgni-trv-service-grids-item,
	.FlProductSlider .tv-products-grid-item{
		display: none;
	}
	.PdctPgniSlider .pdct-pgni-trv-service-grids-item:first-child,
	.FlProductSlider .tv-products-grid-item:first-child{
		display: none;
	}
	.PdctPgniSlider.slick-initialized .pdct-pgni-trv-service-grids-item,
	.FlProductSlider.slick-initialized .tv-products-grid-item{
		display: block;
	}
	.prdct-pgni-dtls-sec .over-ons-lftimg-rgtdes-sec-rgt{
		margin-bottom: 54px;
	}
	.prdct-pgni-dtls-sec .over-ons-lftimg-rgtdes-sec-lft{
		height: 411px;
	}
	.pdct-pgni-trv-service-grid-sec .sec-entry-hdr-sub-title{
		margin-bottom: 8px!important;
	}
	.pdct-pgni-trv-service-grids{
		margin-left: -20px;
		margin-right: -20px;
	}
	.pdct-pgni-trv-service-grids .pdct-pgni-trv-service-grids-item{
		padding-left: 12px;
		padding-right: 12px;
	}
}
@media(max-width:575px){
	.prdct-pgni-dtls-sec{
		padding-top:41px;
	}
	.prdct-pgni-dtls-sec .over-ons-lftimg-rgtdes-sec-rgt{
		margin-bottom:54px;
	}
	.pdct-pgni-trv-service-grid-sec .trv-service-grid-item-cntlr{
		padding-top:0;
	}
	.related-products-sec .tv-products-cntlr{
		max-width:initial;
	}
	.tv-products-grid .tv-products-grid-item{
		padding-left:15px;
		padding-right:15px;
	}
	.tv-products-grid{
		margin-left: -15px;
		margin-right: -15px;
	}
	.product-category .fl-pro-grd-title{
		font-size:28px;
	}
	.prdct-pgni-dtls-sec .over-ons-lftimg-rgtdes-sec-rgt{
		margin-bottom: 45px;
	}
	.tv-product-grd{
	    max-width: 405px;
	    margin:0 auto;
	}

}
@media(max-width:479px){
/*	.pdct-pgni-trv-service-grids .pdct-pgni-trv-service-grids-item{
		padding-left:0;
		padding-right:0;
	}
	.pdct-pgni-trv-service-grids{
		margin-left:0;
		margin-right:0;
	}
*/	.product-category .fl-pro-grd-title{
		font-size:30px;
	}
	.tv-products-grid .tv-products-grid-item{
		padding-left:0px;
		padding-right:0px;
	}
	.tv-products-grid{
		margin-left: 0px;
		margin-right: 0px;
	}
	.related-products-sec .slick-slider ul.slick-dots{
		margin-left: 0;
		margin-right:0;
	}
}