/**
All heading
*/
h1,h2,h3,h4,h5,h6{
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700;
	line-height: 1.2;	
	color: #4F4B34;
	letter-spacing: -0.02em;
	margin-top: 0;
	margin-bottom: 20px;
}
.fl-h1-72{
	font-size: 72px;
}
h1,.fl-h1{
	font-size: 48px;
}
h2,.fl-h2{
	font-size: 38px;
}
h3,.fl-h3{
	font-size: 36px;
}
h4,.fl-h4{
	font-size: 32px;
}
h5,.fl-h5{
	font-size: 30px;
}
h6,.fl-h6{
	font-size: 24px;
}
