.order-1{
	order: 1!important;
}
.order-2{
	order: 2!important;
}
.tv-vo-intro-sec.tv-modl-intro-sec{
	padding-top: 100px;
	background-size: 80px;
}
.tv-vo-intro-modl-sec-cntlr .img-lft{
	width: 49%;
}
.tv-vo-intro-modl-sec-cntlr .cont-rgt{
	width: 51%;
	padding-right: 75px;
}
.tv-vo-intro-modl-sec-cntlr .vo-module-img{
	height: 380px;
}
.tv-modl-intro-desc.des.vo-des{
	margin-bottom: 35px;
}
.vo-cont-rgt{
	padding-left: 0;
	padding-right: 25px;
}
.tv-vo-intro-modl-sec-cntlr{
	background-color: initial;
	box-shadow: none;
	padding: initial;
}
.tv-vo-grids-modl-sec-cntlr:before{
	content: none;
}
.full-time{
	font-family: 'Libre Franklin', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.1;
	letter-spacing: -0.02em;
	color: #904b10;
	text-transform: capitalize;
	display: inline-block;
	margin-bottom: 18px;
}
.tv-vo-grids-modl-sec-cntlr{
	padding-top: 0;
}
.tv-vo-grids-modl-sec-cntlr ul li{
	padding: 0 23px 70px;
}
.tv-vo-grids-modl-sec-cntlr ul{
	margin: 0 -23px;
}
.tv-vo-grids-modl-sec{
	padding-top: 70px;
}
.vo-gmicnt-cntlr{
	padding-left: 45px;
	padding-right: 10px;
}
.vo-des p{
	font-size: 16px;
}
.des.vo-des{
	margin-bottom: 35px;
}


.vtur-ovzt-serch-cntlr label{
    display: block;
    position: relative;
    margin-bottom: 0;
}
.vtur-ovzt-serch-cntlr label input[type="search"]{
    border: 1px solid #FFFFFF;
    padding:25px 65px 25px 30px;
    width: 100%;
    height: 70px;
    background: #FFFFFF;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.03);
	-ms-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.03);
	-webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.03);
	border-radius: 8px;
    margin-top: 0;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    letter-spacing: -0.02em;
    font-weight: 500;
    color: rgba(79, 75, 52, 0.4);
    text-transform: capitalize;
}
.vtur-ovzt-serch-cntlr label input[type="search"]::-webkit-input-placeholder {
	color: red;
	opacity: 1;
	color: rgba(79, 75, 52, 0.4);
	font-size: 14px;
	font-weight: 500;
	font-family: 'Libre Franklin', sans-serif;
}
.vtur-ovzt-serch-cntlr label input[type="search"]::-moz-placeholder {
	color: red;
	opacity: 1;
	color: rgba(79, 75, 52, 0.4);
	font-size: 14px;
	font-weight: 500;
	font-family: 'Libre Franklin', sans-serif;
}
.vtur-ovzt-serch-cntlr label input[type="search"]:-ms-input-placeholder {
	color: red;
	opacity: 1;
	color: rgba(79, 75, 52, 0.4);
	font-size: 14px;
	font-weight: 500;
	font-family: 'Libre Franklin', sans-serif;
}
.vtur-ovzt-serch-cntlr label input[type="search"]:-moz-placeholder {
	color: red;
	opacity: 1;
	color: rgba(79, 75, 52, 0.4);
	font-size: 14px;
	font-weight: 500;
	font-family: 'Libre Franklin', sans-serif;
}
.vtur-ovzt-serch-cntlr label input[type="search"]:focus{
    border: 1px solid rgba(79, 75, 52, 0.4);
}
.vtur-ovzt-serch-cntlr label button{
    position: absolute;
    border: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 20px 10px;
    padding-right: 30px;
    margin-top: 0;
    cursor: pointer;
    font-size: 0;
    line-height: 1;
    z-index: 5;
    background: transparent;
}
.vtur-ovzt-serch-cntlr label button:hover i svg{
	fill: #eb7a04!important;
}
.vo-gmi-cntnt-tt{
	margin-bottom: 4px;
}
.tv-vo-grids-modl-sec .tv-grids-modl-sec-cntlr{
	padding-bottom: 30px;
}

/*_______________________________responsive_______________________________*/
@media(max-width: 1699px){
	.tv-vo-grids-modl-sec-cntlr ul li {
	    padding: 0 15px 70px;
	}
	.tv-vo-grids-modl-sec-cntlr ul{
		margin: 0 -15px;
	}
	.vo-gmicnt-cntlr {
	    padding-left: 30px;
	}
	.vo-gmi-cntnt-tt{
		font-size: 19px!important;
	}
	.tv-date{
		margin-bottom: 5px;
	}
	.des.vo-des{
		margin-bottom: 30px;
	}
	.full-time{
		margin-bottom: 15px;
	}
}
@media(max-width: 1199px){
	.vo-gmi-cntnt-tt{
		font-size: 17px!important;
	}
	.vo-gmicnt-cntlr {
	    padding-left: 25px;
	}
	.tv-vo-grids-modl-sec-cntlr ul li {
	    padding: 0 20px 60px;
	}
	.tv-vo-grids-modl-sec-cntlr ul{
		margin: 0 -20px;
	}
	.tv-vo-grids-modl-sec {
	    padding-top: 50px;
	}	
	.vo-fl-info-btn{
		font-size: 12px;
		padding-right: 15px;
	}
	.vo-gmicnt-cntlr .tv-date {
	    font-size: 13px;
	}
	.vo-fl-info-btn i{
		margin-top: -1px;
	}
	.vo-cont-rgt {
	    padding-right: 0;
	}
	.gmi-img-cntlr {
	    max-width: 120px;
	}
	.gmi-inline-bg{
		height: 120px;
	}
	.des.vo-des{
		margin-bottom: 20px;
	}
	.tv-vo-intro-modl-sec-cntlr .cont-rgt{
		padding-right: 50px;
	}
	.tv-vo-intro-modl-sec-cntlr .vo-module-img{
		height: 350px;
	}
	.tv-vo-intro-sec.tv-modl-intro-sec{
		padding-top: 85px;
	}
}
@media(max-width: 991px){
	.vo-des p {
	    font-size: 15px;
	    line-height: 1.3;
	}

	.vo-cont-rgt {
	    padding-right: 10px;
	}
	.gmi-img-cntlr {
	    max-width: 100px;
	}
	.gmi-inline-bg{
		height: 100px;
	}
	.tv-vo-intro-modl-sec-cntlr .cont-rgt{
		padding-right: 30px;
	}
	.tv-vo-intro-modl-sec-cntlr .vo-module-img{
		height: 300px;
	}
	.tv-vo-intro-sec.tv-modl-intro-sec{
		padding-top: 70px;
		padding-bottom: 70px;
	}
}
@media(max-width: 767px){
	.vo-page-banner-cntlr .breadcrumb-cntlr{
		display: none;
	}
	.order-2{
		order: 1!important;
	}
	.order-1{
		order: 2!important;
	}
	.sec-modl-cont-tt {
	    font-size: 24px!important;
	}
	.vo-cont-rgt{
		padding-top: 20px;
	}
	.vo-sec-devider{
		height: 8px;
		background-color: #fafafa;
		margin-bottom: 40px;
	}
	.vo-gmicnt-cntlr {
	    padding-left: 15px;
	}
	.tv-vo-grids-modl-sec-cntlr ul li {
	    padding: 0;
	    padding-bottom: 35px;
	}
	.tv-vo-grids-modl-sec-cntlr ul {
	    margin: 0;
	}
	.gmi-img-cntlr {
	    max-width: 83px;
	}
	.gmi-inline-bg {
	    height: 83px;
	}
	.fl-pagination-cntlr ul li a.prev{
		text-indent: -200px;
	}
	 .fl-pagination-cntlr ul li a.next{
		text-indent: -1000px;
	}
	.vo-gmi-cntnt-tt{
		margin-bottom: 7px;
	}
	.tv-date{
		margin-bottom: 8px;
	}
	.tv-grid-modl-item{
		align-items: flex-start;
		justify-content: flex-start;
		max-width: 375px;	
		width: 100%;
		margin: 0 auto;
	}
	.full-time {
	    margin-bottom: 0;
	}
	.vo-cont-rgt,
	.vtur-ovzt-serch-cntlr,
	.vo-des {
	    padding-right: 0;
	}
	.tv-vo-intro-sec.tv-modl-intro-sec{
		padding-top: 50px;
		padding-bottom: 60px;
	}
	.tv-vo-intro-modl-sec-cntlr .img-lft{
		width: 100%;
		margin-bottom: 20px;
	}
	.tv-vo-intro-modl-sec-cntlr .cont-rgt{
		padding: 0;
		width: 100%;
	}
}
@media(max-width: 575px){
	.vo-gmi-cntnt-tt {
	    font-size: 25px!important;
	}
	.vo-gmicnt-cntlr{
		padding-right: 0;
	}
	.tv-vo-intro-sec.tv-modl-intro-sec{
		padding-top: 40px;
		padding-bottom: 48px;
	}
}
@media(max-width: 379px){
	.gmi-img-cntlr {
	    max-width: 73px;
	}
	.gmi-inline-bg {
	    height: 73px;
	}

}
