.order-1{
	order: 1;
}
.order-2{
	order: 2;
}
.vo-cont-rgt{
	padding-left: 0;
	padding-right: 70px;
}
.tv-vo-intro-modl-sec-cntlr{
	background-color: initial;
	box-shadow: none;
}
.tv-vo-grids-modl-sec-cntlr:after{
	content: none;
}
.tv-vo-grids-modl-sec-cntlr:before{
	content: none;
}