.order-1{
	order: 1;
}
.order-2{
	order: 2;
}
.vo-cont-rgt{
	padding-left: 0;
	padding-right: 25px;
}
.tv-vo-intro-modl-sec-cntlr{
	background-color: initial;
	box-shadow: none;
	/*padding-bottom: initial;*/
	padding: initial;
}
.tv-vo-grids-modl-sec-cntlr:before{
	content: none;
}
.full-time{
	font-family: 'Libre Franklin', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.1;
	letter-spacing: -0.02em;
	color: #904b10;
	text-transform: capitalize;
}
.tv-vo-grids-modl-sec-cntlr{
	padding-top: 0;
}
.tv-vo-grids-modl-sec-cntlr ul li{
	padding: 0 23px 70px;
}
.tv-vo-grids-modl-sec-cntlr ul{
	margin: 0 -23px;
}
.tv-vo-grids-modl-sec{
	padding-top: 70px;
}
.vo-gmicnt-cntlr{
	padding-left: 45px;
}
.vo-des {
    padding-right: 50px;
}
.vo-des p{
	font-size: 16px;
}

/*_______________________________responsive_______________________________*/
@media(max-width: 1699px){
	.vo-gmi-img-cntlr{
		width: 28%;
	}
	.tv-vo-grids-modl-sec-cntlr ul li {
	    padding: 0 15px 70px;
	}
	.tv-vo-grids-modl-sec-cntlr ul{
		margin: 0 -15px;
	}
	.vo-gmicnt-cntlr {
	    padding-left: 35px;
	}
	.vo-gmi-cntnt-tt{
		font-size: 19px!important;
	}
	.tv-date{
		margin-bottom: 5px;
	}

}



@media(max-width: 1199px){
	.vo-gmi-cntnt-tt{
		font-size: 17px!important;
	}
	.vo-gmicnt-cntlr {
	    padding-left: 25px;
	}
	.tv-vo-grids-modl-sec-cntlr ul li {
	    padding: 0 20px 60px;
	}
	.tv-vo-grids-modl-sec-cntlr ul{
		margin: 0 -20px;
	}
	.vo-gmi-img-cntlr {
	    width: 30%;
	}
	.vo-gmi-inline-bg{
		height: 130px;
	}
	.tv-vo-grids-modl-sec {
	    padding-top: 50px;
	}
	.full-time{
		font-size: 13px;
	}	
	.vo-fl-info-btn{
		font-size: 12px;
		padding-right: 15px;
	}
	.vo-gmicnt-cntlr .tv-date {
	    font-size: 13px;
	}
	.vo-fl-info-btn i{
		margin-top: -1px;
	}
	.vo-cont-rgt {
	    padding-right: 0;
	}


}



@media(max-width: 991px){
	.vo-des p {
    font-size: 15px;
    line-height: 1.3;
}
.vo-des {
    padding-right: 20px;
}
.vo-cont-rgt {
    padding-right: 10px;
}

}
@media(max-width: 767px){}
@media(max-width: 639px){}
@media(max-width: 575px){}
@media(max-width: 479px){}
@media(max-width: 379px){
		.vo-module-img {
	    height: 160px;
	}
}
@media(max-width: 359px){}
@media(max-width: 320px){}

@media(max-width: px){}
@media(max-width: px){}